body {
    background-color: #1B1B1B;
    
    overflow-x: hidden;
}

/* cursor */
.cursor {
    position: absolute;
    /* width: 15.625vw; height: 15.625vw; */
    width: 20vw; height: 20vw;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
    background: url(../img/mainbg.jpg) no-repeat center center fixed; /* body에 있는거 그래도 사용하는데 꼭 background-attachment: fixed가 추가되어야 한다.*/
    background-size: cover; /* 이게 없으면 실제 이미지 크기만큼의 영역이 생겨버린다.*/
    /* box-shadow: 0px 0px 50px inset white, 0px 0px 50px inset white; */
    opacity: 1;
}
/* .cursor.hidden {
    display: none;
} */

/* info */
.info {
    position: fixed; bottom: 20px; right: 20px;
    background: rgba(255,255,255,0.4);
    color: #fff; padding: 10px;
    font-size: 14px; font-weight: 300;
    z-index: 10000;
    font-style: normal;
}

/* container */
.container {width: 81vw; margin: 0 auto;}

/* big-title */
#big-title {}
.big-title {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.big-title div {
    position: relative;
    font-family: 'Ilisarniq-Black';
    height: 350px;
    font-size: 10.4vw;
    text-transform: uppercase;
    letter-spacing: 0.53vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    -moz-text-fill-color: transparent;
    -moz-text-stroke: 2px #fff;
    -ms-text-fill-color: transparent;
    -ms-text-stroke: 2px #fff;
    -o-text-fill-color: 2px #fff;
    -o-text-stroke: 2px #fff;
}
/* 위 div에 클래스를 주면 .underline이 width가 상속이
되지 않음 또한 div를 p로 하면 아예 안됨 */
.underline {
    position: absolute; top: -30px; left: 0;
    width: inherit;
    height: 10px !important;
    border: 2px solid white;
}

/* section1 */
#section1 {
    height: 100vh;
    font-family: 'S-CoreDream-4Regular';
    color: #fff;
}
.section1 {
    position: relative;
    transform: skew(0deg, 0deg);
    opacity: 1;
}
.section1 .s1-title {
    position: absolute; left: 0; top: 10vw;
}
.section1 .s1-title h1 {
    font-family: 'Ilisarniq-Black';
    font-size: 7.5vw;
    line-height: 7.3vw;
    color: #fff;
    text-transform: uppercase;
}
.section1 .s1-title h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    -moz-text-fill-color: transparent;
    -moz-text-stroke: 2px #fff;
    -ms-text-fill-color: transparent;
    -ms-text-stroke: 2px #fff;
    -o-text-fill-color: 2px #fff;
    -o-text-stroke: 2px #fff;
}
.section1 .s1-title p {
    margin-top: 1.5vw;
    text-indent: 0.6vw;
    font-family: 'Ilisarniq-Light';
    font-size: 1.15vw;
}
.section1 .s1-title p span {
    font-family: 'Ilisarniq-Regular';
    font-size: 1.15vw;
}
.section1 .s1-desc {
    position: absolute; left: 0.6vw; top: 39vw;
}
.section1 .s1-desc p {
    font-family: 'S-CoreDream-2ExtraLight';
    font-size: 1vw;
}
.section1 .s1-desc p strong {font-family: 'S-CoreDream-6Bold';}


/* section2 */
#section2 {
    position: relative;
    overflow-x: hidden;
    height: 220vh;
}
.left-section {}
.left-title {
    position: relative;
}
.left-title h2 {
    position: absolute; top: 1.25vw; left: 7.604vw;
    font-size: 9.986vw;
    font-family: 'Ilisarniq-Black';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.346vw;
}
h2.ftitle {
    z-index: 10;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    -moz-text-fill-color: transparent;
    -moz-text-stroke: 2px #fff;
    -ms-text-fill-color: transparent;
    -ms-text-stroke: 2px #fff;
    -o-text-fill-color: 2px #fff;
    -o-text-stroke: 2px #fff;
}
.img-wrap {
    width: 67.917vw;
    height: 38.542vw;
    position: absolute; top: 9.531vw; left: 0;
}
.img-wrap::before {
    position: absolute; left: 0; top: 0;
    content: '';
    width: 100%; height: 100%;
    background: rgba(13, 147, 120, 0.5);
}
.s2-img {
    background: url(../img/webstandard_silver_gray.jpg) no-repeat center center;
    width: 100%; height: 100%;
}
.left-num-wrap {
    position: absolute; top: 18vw; left: 86vw;
    transform: rotate(90deg);
    width: 23.906vw; height: 24.74vw;
}
.left-num-wrap .left-num {
    font-size: 20.625vw;
    text-transform: uppercase;
    font-family: 'Ilisarniq-Black';
    letter-spacing: 0.206vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #292929;
    -moz-text-fill-color: transparent;
    -moz-text-stroke: 2px #292929;
    -ms-text-fill-color: transparent;
    -ms-text-stroke: 2px #292929;
    -o-text-fill-color: 2px  #292929;
    -o-text-stroke: 2px #292929;
}
.left-desc-wrap {
    position: relative;
}
.left-desc-wrap .left-desc {
    position: absolute; top: 36vw; left: 58.5vw;
    width: 33.854vw;
    height: 24.583vw;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-desc-wrap .left-desc ul {
    width: 27.083vw;
    margin-top: -5.7vw;
}
.left-desc-wrap .left-desc ul .desc-title{
    font-family: 'Ilisarniq-Black';
    font-size: 1.302vw;
    margin-bottom: 0.823vw;
}
.left-desc-wrap .left-desc ul .desc-desc{
    font-family: 'S-CoreDream-3Light';
    font-size: 0.781vw;
    line-height: 1.563vw;
    color: #1b1b1b;
    text-align: justify;
}
.btn-wrap {
    position: absolute; top: 53.4vw; left: 61.9vw;
    display: flex;
    justify-content: space-between;
    width: 27.083vw;

}
.btn-wrap .btn a {
    font-family: 'Ilisarniq-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.813vw;
    height: 48px;
    box-sizing: border-box;
    background: #000;
    padding: 20px 50px;
    color: #fff;
    font-size: 0.938vw;
    text-transform: uppercase;
}
.s2-circleAll:hover {
    color: #fff;
}
.circle-wrap1 {
    position: absolute; top: 67vw; left: 62vw;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.208vw; height: 5.208vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
}
.circle-wrap1 .circle1 {}
.circle-wrap2 {
    position: absolute; top: 74vw; left: 73vw;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.083vw; height: 7.083vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
}
.circle-wrap2 .circle2 {}
.circle-wrap3 {
    position: absolute; top: 87vw; left: 70vw;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.333vw; height: 3.333vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
}
.circle-wrap3 .circle3 {}
.circle-wrap4 {
    position: absolute; top: 91vw; left: 83.4vw;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.208vw; height: 5.208vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
}
.circle-wrap4 .circle4 {}

.left-chromebox {position: relative;}
.left-chromebox .left-chromewrap {
    position: absolute; top: 64.583vw; left: 6.25vw;
    width: 46.563vw;
    /* height: 28.49vw; */
    height: 547px;
    background: #35363A;
    border-radius: 5px;
}
.menu-bar {
    position: relative;
    font-family: "SF Pro Display";
    font-weight: 300;
    font-size: 12px;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 42px;
    border-radius: 5px 5px 0px 0px;
    background: #202124;
}
.menu-bar .circle-bar {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 13px;
    /* padding: 0 0.677vw; */
    width: 78px;
    height: 100%;
    background: #202124;
    border-radius: 5px 0px 0px 0px;
}
.circle-bar .red {
    margin-right: 8px;
    width: 12px; height: 12px;
    border-radius: 50%;
    background: #ED6A5F;
}
.circle-bar .yellow {
    margin-right: 8px;
    width: 12px; height: 12px;
    border-radius: 50%;
    background: #F6BF4F;
}
.circle-bar .green {
    width: 12px; height: 12px;
    border-radius: 50%;
    background: #63C654;
}

.menu-bar .title-bar {
    position: absolute; top: 8px; left: 78px;
    z-index: 20;
    display: flex;
    /* width: 88%; */
    /* width: 42.5vw; */
    /* height: 100%; */
    height: 81%;
    background: #202124;
}
.title-bar .htmlTap {
    width: 12.5vw;
    
}
.title-bar .htmlTap a {
    display: flex;
    justify-content: center;
    line-height: 35px;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
.title-bar .cssTap {
    width: 12.5vw;
}
.title-bar .cssTap a {
    display: flex;
    justify-content: center;
    line-height: 35px;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
.title-bar .scriptTap {
    width: 12.5vw;
}
.title-bar .scriptTap a {
    display: flex;
    justify-content: center;
    line-height: 35px; 
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
.title-bar .tap a.active {
    background: #35363A;
}
.title-bar > div .code-content {
    position: absolute; top: 74px; left: -74px;
    z-index: 20;
    /* width: 885px; height: 460px; 원래크기. 반응형때문에 잠시 주석 */
    width: 46.094vw; height: 460px;
    background: #272822; 
    overflow: auto;
}

.menu-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
}
.menu-content .option-bar {
    font-family: "SF Pro Display";
    font-weight: 300;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 36px;
}
.arrow-box {
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    width: 108px;
    height: 37px;
    /* background: #35363A; */
}
.option-bar .arrowL {
    width: 14px;
    height: 13px;
    margin-right: 18px;
}
.option-bar .arrowL svg {}
.option-bar .arrowR {
    width: 14px;
    height: 13px;
    margin-right: 18px;
}
.option-bar .arrowR svg {}
.option-bar .redo {
    width: 14px;
    height: 13px;
}
.option-bar .redo svg {}

.option-bar .address-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 84%; */
    width: 742px;
    height: 39px;
    background: #35363A;
    color: #fff;
}
.option-bar .address-box .address {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    background: #202124;
    border-radius: 30px;
}
.option-bar .address-box .address .address-target {
    position: absolute; top: 9px; left: 33px;
    display: none;
}
.option-bar .address-box .address .address-target.show {
    display: block;
}
.option-bar .address-box .address span {
    padding: 0 13px 0 14px;
}
.option-bar .dot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4%; */
    width: 44px;
    height: 37px;
    background: #35363A;
}
.option-bar .dot-box .dot {
    width: 4px;
    height: 14px;
}
/* .justsquare {
    position: absolute; top: -8px; left: 70px;
    width: 38.333vw;
    height: 8px;
    background: #35363A;
}
.justcircle1 {
    position: absolute; top: -16px; left: 62px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #202124;
}
.justcircle2 {
    position: absolute; top: -16px; right: 80px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #202124;
} */

/* section3 */
#section3 {
    position: relative;
    overflow-x: hidden;
    height: 220vh;
}
.s3-img-wrap::before {
    background: rgba(122, 36, 21, 0.5);
}
.s3-img {
    background: url(../img/responsive_gray.jpg) no-repeat center center;
    width: 100%; height: 100%;
}
.s3-circleAll {
    border-color: #7A2415;
}
.s3-circleAll:hover {
    color: #fff;
}
.s3-circle-w1 {width: 7.1vw; height: 7.1vw;}
.s3-circle-w2 {
    width: 6.5vw; height: 6.5vw;
    top: 77vw; left: 82vw;
}
.s3-circle-w3 {
    width: 7.4vw; height: 7.4vw;
    top: 89vw; left: 72vw;
}

/* section4 */
#section4 {
    position: relative;
    overflow-x: hidden;
    height: 220vh;
}
.right-section {}
.right-title {
    position: relative;
}
.right-title h2 {
    position: absolute; top: 1.25vw; right: 7.604vw;
    font-size: 9.986vw;
    font-family: 'Ilisarniq-Black';
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.346vw;
}
h2.ftitle2 {
    z-index: 10;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    -moz-text-fill-color: transparent;
    -moz-text-stroke: 2px #fff;
    -ms-text-fill-color: transparent;
    -ms-text-stroke: 2px #fff;
    -o-text-fill-color: 2px #fff;
    -o-text-stroke: 2px #fff;
}
.img-wrap2 {
    width: 67.917vw;
    height: 38.542vw;
    position: absolute; top: 9.531vw; right: 0;
}
.img-wrap2::before {
    position: absolute; right: 0; top: 0;
    content: '';
    width: 100%; height: 100%;
    background: rgba(114, 101, 46, 0.5);
}
.s4-img {
    background: url(../img/nongshim_gray.jpg) no-repeat center center;
    width: 100%; height: 100%;
}
.right-num-wrap {
    position: absolute; top: 18vw; right: 86vw;
    transform: rotate(-90deg);
    width: 23.906vw; height: 24.74vw;
}
.right-num-wrap .right-num {
    font-size: 20.625vw;
    text-transform: uppercase;
    font-family: 'Ilisarniq-Black';
    letter-spacing: 0.206vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #292929;
    -moz-text-fill-color: transparent;
    -moz-text-stroke: 2px #292929;
    -ms-text-fill-color: transparent;
    -ms-text-stroke: 2px #292929;
    -o-text-fill-color: 2px  #292929;
    -o-text-stroke: 2px #292929;
}
.right-desc-wrap {
    position: relative;
}
.right-desc-wrap .right-desc {
    position: absolute; top: 36vw; right: 58.5vw;
    width: 33.854vw;
    height: 24.583vw;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-desc-wrap .right-desc ul {
    width: 27.083vw;
    margin-top: -5.7vw;
}
.right-desc-wrap .right-desc ul .desc-title2 {
    font-family: 'Ilisarniq-Black';
    font-size: 1.302vw;
    margin-bottom: 0.823vw;
}
.right-desc-wrap .right-desc ul .desc-desc2 {
    font-family: 'S-CoreDream-3Light';
    font-size: 0.781vw;
    line-height: 1.563vw;
    color: #1b1b1b;
    text-align: justify;
}
.btn-wrap2 {
    position: absolute; top: 53.4vw; right: 61.9vw;
    display: flex;
    justify-content: space-between;
    width: 27.083vw;

}
.btn-wrap2 .btn2 a {
    font-family: 'Ilisarniq-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.813vw;
    height: 48px;
    box-sizing: border-box;
    background: #000;
    padding: 20px 50px;
    color: #fff;
    font-size: 0.938vw;
    text-transform: uppercase;
}
.s4-circleAll:hover {
    color: #fff;
}
.circle-wrap5 {
    position: absolute; top: 67vw; right: 62vw;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.469vw; height: 5.469vw;
    border: 2px solid #72652E;
    border-radius: 50%;
}
.circle-wrap5 .circle5 {}
.circle-wrap6 {
    position: absolute; top: 77vw; right: 82vw;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.083vw; height: 7.083vw;
    border: 2px solid #72652E;
    border-radius: 50%;
}
.circle-wrap6 .circle6 {}
.circle-wrap7 {
    position: absolute; top: 89vw; right: 72vw;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.167vw; height: 9.167vw;
    border: 2px solid #72652E;
    border-radius: 50%;
}
.circle-wrap7 .circle7 {}
/* .circle-wrap8 {
    position: absolute; top: 91vw; right: 83.4vw;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.208vw; height: 5.208vw;
    border: 2px solid #72652E;
    border-radius: 50%;
}
.circle-wrap8 .circle8 {} */

.right-chromebox {position: relative;}
.right-chromebox .right-chromewrap {
    position: absolute; top: 64.583vw; right: 6.25vw;
    width: 46.563vw;
    /* height: 28.49vw; */
    height: 547px;
    background: #35363A;
    border-radius: 5px;
}
.menu-bar2 {
    position: relative;
    font-family: "SF Pro Display";
    font-weight: 300;
    font-size: 12px;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 42px;
    border-radius: 5px 5px 0px 0px;
    background: #202124;
}
.menu-bar2 .circle-bar2 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 13px;
    /* padding: 0 0.677vw; */
    width: 78px;
    height: 100%;
    background: #202124;
    border-radius: 5px 0px 0px 0px;
}
.circle-bar2 .red2 {
    margin-right: 8px;
    width: 12px; height: 12px;
    border-radius: 50%;
    background: #ED6A5F;
}
.circle-bar2 .yellow2 {
    margin-right: 8px;
    width: 12px; height: 12px;
    border-radius: 50%;
    background: #F6BF4F;
}
.circle-bar2 .green2 {
    width: 12px; height: 12px;
    border-radius: 50%;
    background: #63C654;
}

.menu-bar2 .title-bar2 {
    position: absolute; top: 8px; left: 78px;
    z-index: 20;
    display: flex;
    /* width: 88%; */
    /* width: 42.5vw; */
    /* height: 100%; */
    height: 81%;
    background: #202124;
}
.title-bar2 .htmlTap2 {
    width: 12.5vw;
    
}
.title-bar2 .htmlTap2 a {
    display: flex;
    justify-content: center;
    line-height: 35px;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
.title-bar2 .cssTap2 {
    width: 12.5vw;
}
.title-bar2 .cssTap2 a {
    display: flex;
    justify-content: center;
    line-height: 35px;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
.title-bar2 .scriptTap2 {
    width: 12.5vw;
}
.title-bar2 .scriptTap2 a {
    display: flex;
    justify-content: center;
    line-height: 35px; 
    width: 100%;
    height: 100%;
    color: #fff;
    background: #18181b;
    border-radius: 10px 10px 0 0;
}
.title-bar2 .tap2 a.active2 {
    background: #35363A;
}
.title-bar2 > div .code-content2 {
    position: absolute; top: 74px; left: -74px;
    z-index: 20;
    /* width: 885px; height: 460px; 원래크기. 반응형때문에 잠시 주석 */
    width: 46.094vw; height: 460px;
    background: #272822; 
    overflow: auto;
}

.menu-content2 {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: 1px solid black; */
}
.menu-content2 .option-bar2 {
    font-family: "SF Pro Display";
    font-weight: 300;
    display: flex;
    width: 100%;
    /* height: 8%; */
    height: 36px;
}
.arrow-box2 {
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    width: 108px;
    height: 37px;
    /* background: #35363A; */
}
.option-bar2 .arrowL2 {
    width: 14px;
    height: 13px;
    margin-right: 18px;
}
.option-bar2 .arrowL2 svg {}
.option-bar2 .arrowR2 {
    width: 14px;
    height: 13px;
    margin-right: 18px;
}
.option-bar2 .arrowR2 svg {}
.option-bar2 .redo2 {
    width: 14px;
    height: 13px;
}
.option-bar2 .redo2 svg {}

.option-bar2 .address-box2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 84%; */
    width: 742px;
    height: 39px;
    background: #35363A;
    color: #fff;
}
.option-bar2 .address-box2 .address2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 28px;
    background: #202124;
    border-radius: 30px;
}
.option-bar2 .address-box2 .address2 .address-target2 {
    position: absolute; top: 9px; left: 33px;
    display: none;
}
.option-bar2 .address-box2 .address2 .address-target2.show2 {
    display: block;
}
.option-bar2 .address-box2 .address2 span {
    padding: 0 13px 0 14px;
}
.option-bar2 .dot-box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4%; */
    width: 44px;
    height: 37px;
    background: #35363A;
}
.option-bar2 .dot-box2 .dot2 {
    width: 4px;
    height: 14px;
}
/* .justsquare {
    position: absolute; top: -8px; left: 70px;
    width: 38.333vw;
    height: 8px;
    background: #35363A;
}
.justcircle1 {
    position: absolute; top: -16px; left: 62px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #202124;
}
.justcircle2 {
    position: absolute; top: -16px; right: 80px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #202124;
} */