/* layout */
html, body {
    background: #1b1b1b;
    overflow: visible !important;
}
#contents {}
/* #big-title {
    height: 100vh;
    background: #fff;
    position: relative;
    overflow: hidden;
} */
#header {
    /* 커서 히든하기 위해 포지션 필요 */
    position: relative;
    overflow: hidden;
    height: 100vh;
}
#section1 {
    /* overflow-x: hidden; */
    overflow: hidden;
    height: 1640px;
    padding-top: 300px;
}
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}
#section7 {}

/* container */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* cursor */
.cursor {
    position: absolute;
    width: 2000px; height: 2000px;
    user-select: none;
    pointer-events: none;
    background: url(../img/mainbg.jpg) no-repeat center center fixed; /* body에 있는거 그래도 사용하는데 꼭 background-attachment: fixed가 추가되어야 한다.*/
    background-size: cover; /* 이게 없으면 실제 이미지 크기만큼의 영역이 생겨버린다.*/
    opacity: 0;
    overflow: hidden;
}
.cursorbg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/mainbg.jpg) no-repeat center center fixed; /* body에 있는거 그래도 사용하는데 꼭 background-attachment: fixed가 추가되어야 한다.*/
    background-size: cover; /* 이게 없으면 실제 이미지 크기만큼의 영역이 생겨버린다.*/
}

/* info */
.info {
    position: fixed; bottom: 20px; right: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff; padding: 10px;
    font-size: 14px; font-weight: 300;
    z-index: 1000;
    font-style: normal;
}

/* split */
h1.main-tit .split span {
    display: inline-block;
    min-width: 1vw;
    opacity: 0;
}
.sub-tit.split span {
    display: inline-block;
    min-width: 0.08vw;
    opacity: 0;
}

/* header */
.header {
    height: 100vh;
    position: relative;
}
.header-title {
    width: 72.610vw;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ilisarniq-Black';
    color: #fff;
}
.header-title h1.main-tit {
    font-size: 6.5vw;
    line-height: 7vw;
    color: #fff;
    text-transform: uppercase;
}
.header-title h1.main-tit strong {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.header-title h1.main-tit strong span {
    transform: translateY(80px);
}
.header-title h1.main-tit em span {
    transform: translateY(80px);
}
.header-title .sub-tit {
    font-size: 2vw;
    font-family: 'Ilisarniq-Light';
    padding-bottom: 10vw;
}
.header-title .desc {
    font-family: 'S-CoreDream-3Light';
    font-size: 1vw;
    line-height: 1.6vw;
    transform: translateY(10px);
    opacity: 0;
}
.header-title .desc strong {
    font-family: 'S-CoreDream-6Bold';
}

/* section1 */
.sec1 {
    position: relative;
}
.left-title h2 {
    position: absolute;
    font-size: 9.986vw;
    font-family: 'Ilisarniq-Black';
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    transition: all 1s;
    opacity: 0;
}
h2.ftitle {
    z-index: 2;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
}
h2.btitle {
    color: #fff;
}
.left-title.titMove h2 {
    animation: titMove1 1s ease-in-out forwards;
}
.left-title.titMove h2.btitle {
    animation-delay: .5s;
}
@keyframes titMove1 {
    0% {top: 7.25vw; left: 13.604vw; opacity: 0; transform: skew(0deg, -5deg);}
    /* 100% {top: -9vw; left: 4.604vw; opacity: 1; transform: skew(0deg, 0deg);} */
    100% {top: -9vw; left: 8.604vw; opacity: 1; transform: skew(0deg, 0deg);}
}
.left-title.titFadeOut h2 {
    animation: titFadeOut1 .5s ease-in-out forwards;
}
@keyframes titFadeOut1 {
    /* 0% {top: -9vw; left: 4.604vw; opacity: 1;} */
    /* 100% {top: -9vw; left: 4.604vw; opacity: 0;} */
    0% {top: -9vw; left: 8.604vw; opacity: 1;}
    100% {top: -9vw; left: 8.604vw; opacity: 0;}
}
/* .img-align-box {
    display: flex;
    justify-content: flex-end;
} */
.img-wrap {
    width: 67.917vw;
    height: 38.542vw;
    /* position: absolute; top: 9.531vw; left: 0; */
    overflow: hidden;
    background: #73B6A9;
    transition: all 1s;
}
.img {
    background: url(../img/webstandard_silver_green.jpg) no-repeat center center;
    background-size: cover;
    width: 100%; height: 100%;
    position: relative;
    z-index: 1;
}

.left-num-wrap {
    position: absolute; top: 18vw; left: 86vw;
    transform: rotate(90deg);
    width: 23.906vw; height: 24.74vw;
}
.left-num-wrap .left-num {
    transition: all 1s;
    font-size: 20.625vw;
    text-transform: uppercase;
    font-family: 'Ilisarniq-Black';
    letter-spacing: 0.206vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #292929;
}
.left-desc-wrap {
    transition: width 1s, top 0.1s;
    /* width: 33.854vw; height: 24.583vw; */
    /* width: 650px; height: 472px; */
    width: 33.86%; height: 472px;
    background: #fff;
    /* position: absolute; top: 69%; left: 60%; */
    position: absolute; top: 36vw; left: 60%;
    /* padding: 85px 65px 90px; */
    padding: 4.427vw 3.385vw 4.688vw;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-desc-wrap h2 {
    font-family: 'Ilisarniq-Black';
    /* font-size: 2vw; */
    font-size: 39px;
    text-transform: uppercase;
}
.left-desc-wrap p {
    font-family: 'S-CoreDream-4Regular';
    /* font-size: 0.781vw; */
    font-size: 15px;
    /* line-height: 1.563vw; */
    line-height: 30px;
    text-align: justify;
    /* margin-top: -12px; */
    margin-top: -0.625vw;
}
.btn-wrap {
    display: flex;
    /* width: 27.083vw; */
    /* width: 519px; */
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
}
.btn-wrap a {
    font-family: 'Ilisarniq-Regular';
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 48px;
    /* font-size: 0.938vw; */
    font-size: 18px;
    text-transform: uppercase;
}
.btn-wrap a.leftBtn {
    color: #fff;
    transition: color 0.5s ease-in-out;
}
.btn-wrap a.leftBtn.movebg {
    color: #000;
}
.btn-wrap a.leftBtn::before {
    content: '';
    width: 100%; height: 100%;
    position: absolute; 
    top: 0; left: 0;
    z-index: -1;
    background: #000;
    transition: left 0.5s ease-in-out;
}
.btn-wrap a.leftBtn.movebg::before {
    left: 100%;
}
.btn-wrap a.rightBtn {
    color: #000;
    transition: color 0.5s ease-in-out;
}
.btn-wrap a.rightBtn.movebg {
    color: #fff;
}
.btn-wrap a span {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
.btn-wrap a:hover span {
    transform: scale(1.2);
}

.container.codecontainer {
    opacity: 0;
    padding-top: 300px;
}
.container.codecontainer.opacity1 {
    animation: opacity1 1s ease-in-out forwards;
}
@keyframes opacity1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.container.codecontainer.opacity0 {
    animation: opacity0 0.3s ease-in-out forwards;
}
@keyframes opacity0 {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.code-align-box {
    display: flex;
    flex-direction: row-reverse;
    transition: all 1s;
}
.circlebox {
    position: relative;
    width: 28%;
    height: 547px;
}
.sec1-circleAll:hover {
    color: #fff;
    background: #12DA97;
}
.sec1-circleAll.active2 {
    background: #12DA97;
}
.circle-wrap1 {
    position: absolute; top: 5%; left: 7%;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.208vw; height: 5.208vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
    transition: background .2s;
}
.circle-wrap1 .sec1-circle1 {
    animation: sec1-c1 8s linear infinite;
}
@keyframes sec1-c1 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.circle-wrap2 {
    position: absolute; top: 28%; left: 68%;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.083vw; height: 7.083vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
    transition: background .2s;
}
.circle-wrap2 .sec1-circle2 {
    animation: sec1-c2 4s linear infinite;
}
@keyframes sec1-c2 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}
.circle-wrap3 {
    position: absolute; top: 57%; left: 31%;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.333vw; height: 3.333vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
    transition: background .2s;
}
.circle-wrap3 .sec1-circle3 {
    animation: sec1-c3 7s linear infinite;
}
@keyframes sec1-c3 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}
.circle-wrap4 {
    position: absolute; top: 79%; left: 55%;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.208vw; height: 5.208vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
    transition: background .2s;
}
.circle-wrap4 .sec1-circle4 {
    animation: sec1-c4 15s linear infinite;
}
@keyframes sec1-c4 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.editorbox {
    position: relative;
    width: 72%;
    height: 547px;
}
.editor .editor-tab {
    /* height: 40px; */
    height: 38px;
    background: #21252B; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    display: flex;
    font-size: 16px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
.editor .editor-tab .dot {
    padding: 14px 55px 14px 14px;
}
.editor .editor-tab .dot span {
    display: block;
    background: #FFB83D;
    width: 12px; height: 12px; 
    border-radius: 50%;
    position: relative;
}
.editor .editor-tab .dot span::before {
    content: '';
    background: #FF4A4A; 
    width: 12px; height: 12px; 
    border-radius: 50%;
    position: absolute; left: 20px;
}
.editor .editor-tab .dot span::after {
    content: ''; 
    background: #00C543; 
    width: 12px; height: 12px; 
    border-radius: 50%;
    position: absolute; left: 40px;
}
.editor .editor-tab .menu {
    overflow: hidden;
}
.editor .editor-tab .menu li {
    float: left;
}
.editor .editor-tab .menu li a {
    display: inline-block;
    background: #21252B; 
    color: #8E9093; 
    padding: 7px 32px;
    box-sizing: border-box;
}
.editor .editor-tab .menu li a.active {
    background: #383E4A;  color: #fff;
}
.editor .editor-tab .menu li .code-content {
    /* position: absolute; top: 7.4%; left: 0; */
    position: absolute; top: 38px; left: 0;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    width: 100%; height: 507px; 
    background: #282C34;
    overflow: auto;
}
.editor .editor-tab .theme {
    position: relative;
    cursor: pointer;
    color: #8E9093;
    margin-left: auto;
    padding: 6px 27px 8px 14px;
    border: 2px solid #21252B;
    border-top-right-radius: 5px;
    box-sizing: border-box;
}
.editor .editor-tab .theme:hover {
    border: 2px solid #7B61FF;
}
.editor .editor-tab .theme .current-theme {
    display: inline-block;
    /* width: 90px; */
    width: 115px;
}
.editor .editor-tab .theme .arrow {
    /* margin-left: 10px; */
    position: absolute; top: 28%; right: 7%;
}
.editor .editor-tab .theme .arrow svg path {
    stroke:#8E9093;
}
.theme.rotate a.arrow svg {
    display: inline-block;
    transform: rotate(180deg);
}
/* .theme.re-rotate a.arrow svg {
    transform: rotate(0deg);
} */
.editor .editor-tab .theme .themelist {
    width: 100%;
    position: absolute; top: 38px; left: -2px;
    background: #485061;
    border: 2px solid #485061;
    display: none;
    overflow: hidden;
}
.editor .editor-tab .theme .themelist a {
    display: inline-block;
    padding: 5px 0 5px 13px;
    width: 97%;
    color: #8E9093;
}
.editor .editor-tab .theme .themelist a:hover {
    background: #21252B;
}
.editor .editor-tab .theme .themelist a .choice {
    display: inline-block;
    width: 12px;
}
/* .editor .editor-code {
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    height: 507px; background: #282C34;
} */

.editor.owl .editor-tab {
    background: #01111D;
}
.editor.owl .editor-tab .menu li a {
    background: #01111D;
    color: #5F7E97;
}
.editor.owl .editor-tab .menu li a.active {
    background: #062743;  color: #CFDBE4;
}
.editor.owl .code-content {
    background: #011627 !important;
}
.editor.owl .code-content pre.line-numbers {
    background: #011627 !important;
}
.editor.owl .editor-tab .theme {
    color: #5F7E97;
    border: 2px solid #01111D;
}
.editor.owl .editor-tab .theme:hover {
    border: 2px solid #7B61FF;
}
.editor.owl .editor-tab .theme .themelist {
    background: #092E4B;
    border: 2px solid #092E4B;
}
.editor.owl .editor-tab .theme .themelist a:hover {
    background: #01111D;
}
.editor.owl .editor-tab .theme .arrow svg path {
    stroke: #5F7E97;
}
.editor.owl .editor-code {
    background: #011627;
}

.editor.owlLight .editor-tab {
    background: #F0F0F0;
}
.editor.owlLight .editor-tab .menu li a {
    background: #F0F0F0;
    color: #403F53;
}
.editor.owlLight .editor-tab .menu li a.active {
    background: #F8F8F8;  color: #403F53;
}
.editor.owlLight .code-content {
    background: #fbfbfb !important;
}
.editor.owlLight .code-content pre.line-numbers {
    background: #fbfbfb !important;
}
.editor.owlLight .editor-tab .theme {
    color: #403F53;
    border: 2px solid #F0F0F0;
}
.editor.owlLight .editor-tab .theme:hover {
    border: 2px solid #7B61FF;
}
.editor.owlLight .editor-tab .theme .themelist {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    
}
.editor.owlLight .editor-tab .theme .themelist a:hover {
    background: #F0F0F0;
}
.editor.owlLight .editor-tab .theme .arrow svg path {
    stroke: #403F53;
}
.editor.owlLight .editor-code {
    background: #fbfbfb;
}




/* mediaquery */
@media (max-width: 1400px){
    .container {width: 100%;}
    .row {padding: 0 3%;}

    /* section1 */
    .circlebox {
        width: 22%;
        margin-left: 4%;
        margin-right: 2%;
    }
}

@media (max-width: 1300px){
    /* header */
    .header-title .desc {
        font-size: 1.3vw;
        line-height: 2vw;
    }
    /* section1 */
    .container.codecontainer {
        padding-top: 200px;
    }
    .left-title h2 {
        font-size: 10vw;
    }
    .img-wrap {
        width: 73.917vw;
        height: 41.542vw;
    }
    .left-num-wrap .left-num {
        font-size: 22.625vw;
    }
    .left-desc-wrap {
        width: 40.86%;
        height: 310px;
        left: 50.5%;
        padding: 3.427vw 3.385vw 4.688vw;
    }
    .left-desc-wrap h2 {
        font-size: 28px;
    }
    .left-desc-wrap p {
        font-size: 12px;
        line-height: 23px;
        margin-top: -0.8vw;
    }
    .btn-wrap a {
        height: 35px;
        font-size: 14px;
    }
    .circlebox {
        margin-left: 3%;
        margin-right: 3%;
    }
    .sec1-circleAll {
        font-size: 13px;
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size: 13px !important;
    }
}

@media (max-width: 1040px){
    /* header */
    .header-title h1.main-tit {
        font-size: 67px;
        line-height: 67px;
        padding-top: 0px;
    }
    .header-title h1.main-tit em span:nth-child(1) {
        display: block;
    }
    .header-title .sub-tit {
        font-size: 36px;
        padding-top: 40px;
    }
    .header-title .desc {
        font-family: 'S-CoreDream-1Thin'; 
        font-size: 19px;
        line-height: 28px;
    }
    .header-title .desc br:nth-child(1) {
        display: block;
    }
    .header-title .desc br {
        display: none;
    }

    /* section1 */
    .container.codecontainer {
        padding-top: 215px;
    }
    .row {
        padding: 0 8%;
    }
   
    .code-align-box {
        display: block;
    }
    .circlebox {
        width: 100%;
        height: 180px;
    }
    .editorbox {
        width: 100%;
    }
    .sec1-circleAll {
        font-size: 12px;
    }
    .circle-wrap1 {
        top: 0%;
        left: 0%;
    }
    .circle-wrap2 {
        top: 35%;
        left: 30%;
    }
    .circle-wrap3 {
        top: 0%;
        left: 64%;
    }
    .circle-wrap4 {
        top: 46%;
        left: 93.4%;
    }
    .editor .editor-tab {
        font-size: 16px;
    }
    .editor .editor-tab .menu li a {
        padding: 9px 32px;
    }
    .editor .editor-tab .menu li .code-content {
        height: 420px;
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size: 14px !important;
    }
    .editor .editor-tab .theme {
        padding: 8px 10px;
    }

}

@media (max-width: 800px){
    .row {padding: 0 2%;}
    .header-title {
        width: 100%;
    }
    .header-title h1.main-tit {
        /* font-size: 35px; */
        /* line-height: 34px; */
        /* padding-top: 38px; */
        font-size: 10.938vw;
        line-height: 10.625vw;
        padding-top: 11.875vw;
    }
    .header-title h1.main-tit strong {
        -webkit-text-stroke: 0.5px #fff;
    }
    .header-title h1.main-tit strong span:nth-child(4){
        min-width: 2vw;
        height: 1px;
    }
    .header-title h1.main-tit strong span:nth-child(8){
        min-width: 2vw;
        height: 1px;
    }
    .header-title h1.main-tit strong span:nth-child(12) {
        display: block;
    }
    .header-title h1.main-tit em span:nth-child(1) {
        display: block;
    }
    .header-title .sub-tit {
        font-size: 16px;
    }
    .header-title .desc, .cursor, .cursorbg {
        display: none;
    }

    /* secttion1 */
    #section1 {
        padding-top: 66px;
    }
    .left-title {
        transform: rotate(-90deg);
        z-index: 2;
        left: 4.604vw;
    }
    .left-title h2 {
        font-size: 14vw;
    }
    .left-title h2.ftitle {
        display: none;
    }
    .left-title h2.btitle {
        top: -54.8vw; left: 73.604vw;
        opacity: 1;
    }
    .left-title.titMove h2 { 
        animation: titMove1 1s ease-in-out forwards;
    } 
    @keyframes titMove1 {
        0% {top: -54.8vw; left: 73.604vw;}
        100% {top: -54.8vw; left: -51.396vw;}
    }
    .left-title.titFadeOut h2 {
        animation: titFadeOut1 1s ease-in-out forwards;
    }
    @keyframes titFadeOut1 {
        0% {top: -54.8vw; left: -51.396vw; opacity: 1;}
        100% {top: -54.8vw; left: -51.396vw; opacity: 0;}
    }
    .img-align-box {
        position: relative;
        z-index: 1;
        width: 77%;
        overflow: hidden;
    }
    .img-wrap {
        width: 77vw;
        /* height: 70vh; */
        height: 58vh;
    }
    .img-wrap.imgMove {
        animation: imgMove1 1s ease-in-out forwards;
    }
    @keyframes imgMove1 {
        0% {left: 100%;}
        100% {left: 0%;}
    }
    .img-wrap.imgFadeOut {
        animation: imgFadeOut1 2s ease-in-out forwards;
    }
    @keyframes imgFadeOut1 {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
    .img {
        /* left: 0% !important;
        transform: scale3d(1,1,1) !important; */
    }
    .left-num-wrap {
        /* top: -26vw !important; */
        top: -26vw;
        left: 48vw;
        transform: rotate(0deg);
    }
    .left-num-wrap .left-num {
        font-size: 30.625vw;
    }
    .left-desc-wrap {
        width: 77%;
        height: 320px;
        /* top: 80vw !important; */
        top: 80vw;
        left: 23%;
        padding: 5.427vw 5.385vw 7.688vw;
    }
    .container.codecontainer {
        /* padding-top: 250px; */
        padding-top: 187px;
    }
    .sec1-circleAll {
        font-size: 10px;
        width: 9vw; height: 9vw;
    }
    .circle-wrap1 {
        border-width: 1px;
        top: 32%;
        left: 5%;
    }
    .circle-wrap2 {
        border-width: 1px;
        top: 49%;
        left: 30%;
    }
    .circle-wrap3 {
        border-width: 1px;
        top: 32%;
        left: 55%;
    }
    .circle-wrap4 {
        border-width: 1px;
        top: 49%;
        left: 80%;
    }
    .editor .editor-tab {
        font-size: 10px;
        height: 33px;
    }
    .editor .editor-tab .dot {
        padding: 14px 43px 14px 14px;
    }
    .editor .editor-tab .dot span,
    .editor .editor-tab .dot span::before,
    .editor .editor-tab .dot span::after {
        width: 8px; height: 8px;
    }
    .editor .editor-tab .dot span::before {
        left: 15px;
    }
    .editor .editor-tab .dot span::after {
        left: 30px;
    }
    .editor .editor-tab .menu li a {
        padding: 9px 7px;
    }
    .editor .editor-tab .menu li .code-content {
        top: 33px;
    }
    .editor .editor-tab .theme .current-theme {
        width: 76px;
    }
    .editor .editor-tab .theme a.arrow svg {
        width: 10px !important;
        height: 7px !important; 
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size: 10px !important;
    }
}

