body {background-color: #1B1B1B;}

/* container */
.container {width: 81vw; margin: 0 auto;}

/* section1 */
#section1 {
    height: 100vh;
    font-family: 'S-CoreDream-4Regular';
    color: #fff;
}
.section1 {
    position: relative;
}
.section1 .s1-title {
    position: absolute; left: 0; top: 10vw;
}
.section1 .s1-title h1 {
    font-family: 'S-CoreDream-9Black';
    font-size: 8vw;
    color: #fff;
}
.section1 .s1-title p {
    font-size: 2vw;
}
.section1 .s1-desc {
    position: absolute; left: 0; top: 40vw;
}
.section1 .s1-desc p {
    font-family: 'S-CoreDream-2ExtraLight';
    font-size: 1vw;
}
.section1 .s1-desc p strong {font-family: 'S-CoreDream-6Bold';}


/* all section */

.allsite {
    position: relative;
    overflow-x: hidden;
    padding-top: 15vw;
    height: 50vw;
}
.allsite .img-wrap {
    position: relative;
    width: 68vw;
    height: 38vw;
    overflow: hidden;
}
.allsite .img-wrap::before {
    content: '';
    background: rgba(0, 0, 0, 0.24);
    width: 100%; height: 100%;
    position: absolute; left: 0; top: 0;
}
.allsite .img-wrap img {
    
}

.allsite h2 {
    font-family: 'Ilisarniq-Black';
    font-weight: 900;
    font-size: 10vw;
    color: #fff;
    position: absolute; left: 18vw; top: 6vw;
    z-index: 10;
    text-transform: uppercase;
    mix-blend-mode: difference;
    letter-spacing: 3.6px;
}

.allsite .num-wrap .num {
    font-family: 'Ilisarniq-Black';
    font-size: 21vw;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    transform: rotate(90deg);
    position: absolute; top: 19.5vw; right: -7.5vw;
}
.allsite .num-wrap .num.num2 {
    right: -9vw;
}
.allsite .num-wrap .num.num3 {
    right: -9vw;
}
.allsite .num-wrap .num.num4 {
    right: -9vw;
}
.allsite .circle-wrap {
    position: absolute; bottom: 14vw; right: 20vw;
    width: 150px; height: 150px;
    border: 2px solid #12e09b;
    border-radius: 50%;
    font-family: 'Ilisarniq-Light';
    text-align: center;
    line-height: 150px;
    font-size: 14px;
    /* letter-spacing: 7px; */
    color: #fff;
}

#section2 {}
.section2 {}
