/* layout */
body {
    background: #1b1b1b;
    overflow-x: hidden;
}
#contents {}
#header {
    height: 100vh;
}
#section1 {height: 100vh; background: powderblue;}
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}
#section7 {}

/* container */
.container {
    max-width: 1532px;
    width: 100%;
    margin: 0 auto;
}


/* cursor */
.cursor {}

/* split */
h1.main-tit .split span {
    display: inline-block;
    min-width: 1vw;
    opacity: 0;
}
.sub-tit.split span {
    display: inline-block;
    min-width: 0.08vw;
    opacity: 0;
}

/* header */
.header {
    height: 100vh;
    position: relative;
}
.header-title {
    width: 72.610vw;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ilisarniq-Black';
    color: #fff;
}
.header-title h1.main-tit {
    font-size: 6.5vw;
    line-height: 7vw;
    color: #fff;
    text-transform: uppercase;
}
.header-title h1.main-tit strong {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.header-title h1.main-tit strong span {
    transform: translateY(80px);
}
.header-title h1.main-tit em span {
    transform: translateY(80px);
}
.header-title .sub-tit {
    font-size: 2vw;
    font-family: 'Ilisarniq-Light';
    padding-bottom: 10vw;
}
.header-title .desc {
    font-family: 'S-CoreDream-3Light';
    font-size: 1vw;
    line-height: 1.6vw;
    transform: translateY(10px);
    opacity: 0;
}
.header-title .desc strong {
    font-family: 'S-CoreDream-6Bold';
}

/* mediaquery */
@media (max-width: 1024px){
    .header-title h1.main-tit {
        text-align: center;
        font-size: 66px;
        line-height: 66px;
    }
    .header-title .sub-tit {
        text-align: center;
        padding-top: 40px;
    }
    .header-title .desc {
        font-size: 15px;
        line-height: 25px;
    }
}

@media (max-width: 800px){
    .header-title {
        width: 74.610vw;
    }
    .header-title h1.main-tit {
        font-size: 53px;
        padding-top: 75px;
    }
    .header-title .desc, .cursor {
        display: none;
    }
}

@media (max-width: 414px){
    .header-title h1.main-tit {
        font-size: 35px;
        line-height: 37px;
        padding-top: 56px;
    }
    .header-title h1.main-tit strong span:nth-child(4){
        min-width: 2vw;
        height: 1px;
    }.header-title h1.main-tit strong span:nth-child(8){
        min-width: 2vw;
        height: 1px;
    }
    .header-title h1.main-tit strong span:nth-child(12) {
        display: block;
    }
    .header-title h1.main-tit em span:nth-child(1) {
        display: block;
    }
    .header-title .sub-tit {
        font-size: 16px;
    }
}
