/* layout */
body {
    background: #1b1b1b;
    overflow-x: hidden;
}
#contents {}
#big-title {
    height: 100vh;
    background: #fff;
    position: relative;
    overflow: hidden;
}
#header {height: 100vh;}
#section1 {}
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}
#section7 {}

/* container */
.container {
    max-width: 1532px;
    width: 100%;
    margin: 0 auto;
}

/* cursor */
.cursor {
    position: absolute;
    /* width: 100%; height: 100vh; */
    z-index: -1;
    user-select: none;
    pointer-events: none;
    background: url(../img/mainbg.jpg) no-repeat center center fixed; /* body에 있는거 그래도 사용하는데 꼭 background-attachment: fixed가 추가되어야 한다.*/
    background-size: cover; /* 이게 없으면 실제 이미지 크기만큼의 영역이 생겨버린다.*/
    opacity: 0;
    overflow: hidden;
}
.cursorbg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/mainbg.jpg) no-repeat center center fixed; /* body에 있는거 그래도 사용하는데 꼭 background-attachment: fixed가 추가되어야 한다.*/
    background-size: cover; /* 이게 없으면 실제 이미지 크기만큼의 영역이 생겨버린다.*/
}

/* info */
.info {
    position: fixed; bottom: 20px; right: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff; padding: 10px;
    font-size: 14px; font-weight: 300;
    z-index: 1000;
    font-style: normal;
}

/* big-title */
.big-title {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    /* height: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.big-title svg {
    position: relative;
     /* top: 250px; */
    font-family: 'Ilisarniq-Black';
    /* padding-bottom: 30px; */
    /* height: 350px; */
    font-size: 10.4vw;
    text-transform: uppercase;
    letter-spacing: 0.53vw;
    width: 500px; height: 300px;
}
.big-title svg.reveal {
    color: #fff;
    top: 0;
    transition: all 1s;
}
.big-title svg text {
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    opacity: 0;
}
.big-title svg text.reveal {
    opacity: 1;
    animation: stroke 1s forwards;
}
@keyframes stroke {
    0% {
      fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
    }
    70% {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);}
    80% {fill: rgba(72,138,204,0); stroke: rgba(54,95,160,1);}
    100% {
      fill: rgba(72,138,204,1); stroke: rgba(54,95,160,0);
      stroke-dashoffset: -25%;
      stroke-dasharray: 50 0%;
    }
  }
/* .underline {
    position: absolute; top: -30px; left: 0;
    width: inherit;
    height: 10px !important;
    border: 2px solid #000;
} */
.box-wrap {
    width: 4000px;
    height: 100%;
    font-size: 0;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    transform: rotate(45deg);
}
.box {
    width: 7%;
    height: 3000px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.box.reveal::before {
    content: '';
    position: absolute; left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: #1b1b1b;
    border: 2px solid #1b1b1b;
    z-index: 1;
    animation: reveal 1s ease-in-out forwards;
}
@keyframes reveal {
    0% {top: 0; left: 0; width: 0%;}
    100% {top: 0; left: 0%; width: 100%;}
}



/* split */
h1.main-tit .split span {
    display: inline-block;
    min-width: 1vw;
    opacity: 0;
}
.sub-tit.split span {
    display: inline-block;
    min-width: 0.08vw;
    opacity: 0;
}

/* header */
.header {
    height: 100vh;
    position: relative;
}
.header-title {
    width: 72.610vw;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ilisarniq-Black';
    color: #fff;
}
.header-title h1.main-tit {
    font-size: 6.5vw;
    line-height: 7vw;
    color: #fff;
    text-transform: uppercase;
}
.header-title h1.main-tit strong {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.header-title h1.main-tit strong span {
    transform: translateY(80px);
}
.header-title h1.main-tit em span {
    transform: translateY(80px);
}
.header-title .sub-tit {
    font-size: 2vw;
    font-family: 'Ilisarniq-Light';
    padding-bottom: 10vw;
}
.header-title .desc {
    font-family: 'S-CoreDream-3Light';
    font-size: 1vw;
    line-height: 1.6vw;
    transform: translateY(10px);
    opacity: 0;
}
.header-title .desc strong {
    font-family: 'S-CoreDream-6Bold';
}

/* mediaquery */
@media (max-width: 1024px){
    .header-title h1.main-tit {
        font-size: 67px;
        line-height: 67px;
        padding-top: 0px;
    }
    .header-title h1.main-tit em span:nth-child(1) {
        display: block;
    }
    .header-title .sub-tit {
        font-size: 36px;
        padding-top: 40px;
    }
    .header-title .desc {
        font-family: 'S-CoreDream-1Thin'; 
        font-size: 19px;
        line-height: 28px;
    }
    .header-title .desc br:nth-child(1) {
        display: block;
    }
    .header-title .desc br {
        display: none;
    }
}

@media (max-width: 800px){
    .header-title {
        text-align: center;
        width: 74.610vw;
    }
    .header-title h1.main-tit {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        padding-top: 40px;
    }
    .header-title h1.main-tit strong {
        -webkit-text-stroke: 0.5px #fff;
    }
    .header-title h1.main-tit strong span:nth-child(4){
        min-width: 2vw;
        height: 1px;
    }
    .header-title h1.main-tit strong span:nth-child(8){
        min-width: 2vw;
        height: 1px;
    }
    .header-title h1.main-tit strong span:nth-child(12) {
        display: block;
    }
    .header-title h1.main-tit em span:nth-child(1) {
        display: block;
    }
    .header-title .sub-tit {
        font-size: 16px;
    }
    .header-title .desc, .cursor, .cursorbg {
        display: none;
    }
}
