/* layout */
html, body {
    background: #1b1b1b;
    overflow: visible !important;
}
#contents {}
/* #big-title {
    height: 100vh;
    background: #fff;
    position: relative;
    overflow: hidden;
} */
#header {
    /* 커서 히든하기 위해 포지션 필요 */
    position: relative;
    overflow: hidden;
    height: 100vh;
}
#section1{
    /* overflow-x: hidden; */
    overflow: hidden;
    padding-top: 300px;
}
#section2 {}
#section3 {}
#section4 {}
#section5 {}
#section6 {}
#section7 {}

/* container */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* cursor */
.cursor {
    position: absolute;
    width: 2000px; height: 2000px;
    user-select: none;
    pointer-events: none;
    background: url(../img/mainbg.jpg) no-repeat center center fixed; /* body에 있는거 그래도 사용하는데 꼭 background-attachment: fixed가 추가되어야 한다.*/
    background-size: cover; /* 이게 없으면 실제 이미지 크기만큼의 영역이 생겨버린다.*/
    opacity: 0;
    overflow: hidden;
}
.cursorbg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/mainbg.jpg) no-repeat center center fixed; /* body에 있는거 그래도 사용하는데 꼭 background-attachment: fixed가 추가되어야 한다.*/
    background-size: cover; /* 이게 없으면 실제 이미지 크기만큼의 영역이 생겨버린다.*/
}

/* info */
.info {
    position: fixed; bottom: 20px; right: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff; padding: 10px;
    font-size: 14px; font-weight: 300;
    z-index: 1000;
    font-style: normal;
}

/* split */
h1.main-tit .split span {
    display: inline-block;
    min-width: 1vw;
    opacity: 0;
}
.sub-tit.split span {
    display: inline-block;
    min-width: 0.08vw;
    opacity: 0;
}

/* header */
.header {
    height: 100vh;
    position: relative;
}
.header-title {
    width: 72.610vw;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ilisarniq-Black';
    color: #fff;
}
.header-title h1.main-tit {
    font-size: 6.5vw;
    line-height: 7vw;
    color: #fff;
    text-transform: uppercase;
}
.header-title h1.main-tit strong {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.header-title h1.main-tit strong span {
    transform: translateY(80px);
}
.header-title h1.main-tit em span {
    transform: translateY(80px);
}
.header-title .sub-tit {
    font-size: 2vw;
    font-family: 'Ilisarniq-Light';
    padding-bottom: 10vw;
}
.header-title .desc {
    font-family: 'S-CoreDream-3Light';
    font-size: 1vw;
    line-height: 1.6vw;
    transform: translateY(10px);
    opacity: 0;
}
.header-title .desc strong {
    font-family: 'S-CoreDream-6Bold';
}

/* section1 */
.site-wrap {
    position: relative;
}
.site-wrap .site-title {
    position: absolute; top: -9vw; left: 10vw;
    font-size: 9.986vw;
    font-family: 'Ilisarniq-Black';
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}
.site-title.ftitle {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    z-index: 3;
}
.site-title.btitle {
    color: #fff;
    z-index: 1;
}
.site-title span {
    display: inline-block; 
    transform: translate(100px, 300px);
    opacity: 0;
}
.site-wrap .img-wrap {
    width: 67.917vw;
    height: 38.542vw;
    overflow: hidden;
    background: #73B6A9;
    transition: all 1s;
    position: relative;
    z-index: 2;
    opacity: 0;
}
.img-wrap.reveal {
    animation: reveal_opacity 0.1s 1.1s forwards
}
.img-wrap.reveal::before {
    content: '';
    position: absolute;
    height: 100%;
    z-index: 10;
    background: #62968b;
}
.img-wrap.reveal-ltr.reveal::before {
    animation: revealLTR 1.8s ease-in-out;
}
.site-wrap .img-wrap .imgframe {
    background: url(../img/webstandard_silver_green.jpg) no-repeat center center;
    width: 100%;
    height: 100%;
    /* background-size: cover; */
}
.site-wrap .site-num {
    position: absolute; top: 18vw; right: -6vw;
    font-family: 'Ilisarniq-Black';
    text-transform: uppercase;
    font-size: 20.625vw;
    letter-spacing: 0.206vw;
    line-height: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #292929;
    writing-mode: vertical-lr;
}
.site-desc-wrap {
    transition: width 1s, top 0.1s;
    /* width: 33.854vw; height: 24.583vw; */
    /* width: 650px; height: 472px; */
    width: 33.86%; height: 472px;
    background: #fff;
    /* position: absolute; top: 69%; left: 60%; */
    position: absolute; top: 36vw; left: 60%;
    /* padding: 85px 65px 90px; */
    padding: 4.427vw 3.385vw 4.688vw;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.site-desc-wrap h2 {
    font-family: 'Ilisarniq-Black';
    /* font-size: 2vw; */
    font-size: 39px;
    line-height: 1;
    text-transform: uppercase;
}
.site-desc-wrap p {
    font-family: 'S-CoreDream-4Regular';
    /* font-size: 0.781vw; */
    font-size: 15px;
    /* line-height: 1.563vw; */
    line-height: 30px;
    text-align: justify;
    /* margin-top: -12px; */
    margin-top: -0.625vw;
}
.btn-wrap {
    display: flex;
    /* width: 27.083vw; */
    /* width: 519px; */
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
}
.btn-wrap a {
    font-family: 'Ilisarniq-Regular';
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 48px;
    /* font-size: 0.938vw; */
    font-size: 18px;
    text-transform: uppercase;
}
.btn-wrap a.leftBtn {
    color: #fff;
    transition: color 0.5s ease-in-out;
}
.btn-wrap a.leftBtn.movebg {
    color: #000;
}
.btn-wrap a.leftBtn::before {
    content: '';
    width: 100%; height: 100%;
    position: absolute; 
    top: 0; left: 0;
    z-index: -1;
    background: #000;
    transition: left 0.5s ease-in-out;
}
.btn-wrap a.leftBtn.movebg::before {
    left: 100%;
}
.btn-wrap a.rightBtn {
    color: #000;
    transition: color 0.5s ease-in-out;
}
.btn-wrap a.rightBtn.movebg {
    color: #fff;
}

.container.codecontainer {
    opacity: 0;
    padding-top: 300px;
}
.container.codecontainer.sec1-cc.opacity1 {
    animation: opacity1 1s ease-in-out forwards;
}
@keyframes opacity1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.container.codecontainer.sec1-cc.opacity0 {
    animation: opacity0 0.3s ease-in-out forwards;
}
@keyframes opacity0 {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.code-align-box {
    display: flex;
    flex-direction: row-reverse;
    transition: all 1s;
}
.circlebox {
    position: relative;
    width: 28%;
    height: 547px;
}
.sec1-circleAll:hover {
    color: #fff;
    background: #12DA97;
}
.sec1-circleAll.active2 {
    background: #12DA97;
}
.sec1-circleAll.circle-wrap1 {
    position: absolute; top: 5%; left: 7%;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.208vw; height: 5.208vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
    transition: background .2s;
}
.sec1-circleAll.circle-wrap1 .sec1-circle1 {
    animation: sec1-c1 8s linear infinite;
}
@keyframes sec1-c1 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.sec1-circleAll.circle-wrap2 {
    position: absolute; top: 28%; left: 64%;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.083vw; height: 7.083vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
    transition: background .2s;
}
.sec1-circleAll.circle-wrap2 .sec1-circle2 {
    animation: sec1-c2 4s linear infinite;
}
@keyframes sec1-c2 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}
.sec1-circleAll.circle-wrap3 {
    position: absolute; top: 57%; left: 31%;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.333vw; height: 3.333vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
    transition: background .2s;
}
.sec1-circleAll.circle-wrap3 .sec1-circle3 {
    animation: sec1-c3 7s linear infinite;
}
@keyframes sec1-c3 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}
.sec1-circleAll.circle-wrap4 {
    position: absolute; top: 79%; left: 55%;
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.208vw; height: 5.208vw;
    border: 2px solid #12DA97;
    border-radius: 50%;
    transition: background .2s;
}
.sec1-circleAll.circle-wrap4 .sec1-circle4 {
    animation: sec1-c4 15s linear infinite;
}
@keyframes sec1-c4 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.editorbox {
    position: relative;
    width: 72%;
    height: 547px;
}
.editor .editor-tab {
    /* height: 40px; */
    height: 38px;
    background: #21252B; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    display: flex;
    font-size: 16px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
.editor .editor-tab .dot {
    padding: 14px 55px 14px 14px;
}
.editor .editor-tab .dot span {
    display: block;
    background: #FFB83D;
    width: 12px; height: 12px; 
    border-radius: 50%;
    position: relative;
}
.editor .editor-tab .dot span::before {
    content: '';
    background: #FF4A4A; 
    width: 12px; height: 12px; 
    border-radius: 50%;
    position: absolute; left: 20px;
}
.editor .editor-tab .dot span::after {
    content: ''; 
    background: #00C543; 
    width: 12px; height: 12px; 
    border-radius: 50%;
    position: absolute; left: 40px;
}
.editor .editor-tab .menu {
    overflow: hidden;
}
.editor .editor-tab .menu li {
    float: left;
}
.editor .editor-tab .menu li a {
    display: inline-block;
    background: #21252B; 
    color: #8E9093; 
    padding: 7px 32px;
    box-sizing: border-box;
}
.editor .editor-tab .menu li a.active {
    background: #383E4A;  color: #fff;
}
.editor .editor-tab .menu li .code-content {
    /* position: absolute; top: 7.4%; left: 0; */
    position: absolute; top: 38px; left: 0;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    width: 100%; height: 507px; 
    background: #282C34;
    overflow: auto;
}
.editor .editor-tab .theme {
    position: relative;
    cursor: pointer;
    color: #8E9093;
    margin-left: auto;
    padding: 6px 27px 8px 14px;
    border: 2px solid #21252B;
    border-top-right-radius: 5px;
    box-sizing: border-box;
}
.editor .editor-tab .theme:hover {
    border: 2px solid #7B61FF;
}
.editor .editor-tab .theme .current-theme {
    display: inline-block;
    text-align: center;
    /* width: 90px; */
    width: 115px;
}
.editor .editor-tab .theme .arrow {
    /* margin-left: 10px; */
    position: absolute; top: 20%; right: 7%;
}
.editor .editor-tab .theme .arrow svg path {
    stroke:#8E9093;
}
.theme.rotate a.arrow svg {
    display: inline-block;
    transform: rotate(180deg);
}
/* .theme.re-rotate a.arrow svg {
    transform: rotate(0deg);
} */
.editor .editor-tab .theme .themelist {
    width: 100%;
    position: absolute; top: 38px; left: -2px;
    background: #485061;
    border: 2px solid #485061;
    display: none;
    overflow: hidden;
}
.editor .editor-tab .theme .themelist a {
    display: inline-block;
    padding: 5px 0 5px 13px;
    width: 97%;
    color: #8E9093;
}
.editor .editor-tab .theme .themelist a:hover {
    background: #21252B;
}
.editor .editor-tab .theme .themelist a .choice {
    display: inline-block;
    width: 12px;
}
/* .editor .editor-code {
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    height: 507px; background: #282C34;
} */

.editor.owl .editor-tab {
    background: #01111D;
}
.editor.owl .editor-tab .menu li a {
    background: #01111D;
    color: #5F7E97;
}
.editor.owl .editor-tab .menu li a.active {
    background: #062743;  color: #CFDBE4;
}
.editor.owl .code-content {
    background: #011627 !important;
}
.editor.owl .code-content pre.line-numbers {
    background: #011627 !important;
}
.editor.owl .editor-tab .theme {
    color: #5F7E97;
    border: 2px solid #01111D;
}
.editor.owl .editor-tab .theme:hover {
    border: 2px solid #7B61FF;
}
.editor.owl .editor-tab .theme .themelist {
    background: #092E4B;
    border: 2px solid #092E4B;
}
.editor.owl .editor-tab .theme .themelist a:hover {
    background: #01111D;
}
.editor.owl .editor-tab .theme .arrow svg path {
    stroke: #5F7E97;
}
.editor.owl .editor-code {
    background: #011627;
}

.editor.owlLight .editor-tab {
    background: #F0F0F0;
}
.editor.owlLight .editor-tab .menu li a {
    background: #F0F0F0;
    color: #403F53;
}
.editor.owlLight .editor-tab .menu li a.active {
    background: #F8F8F8;  color: #403F53;
}
.editor.owlLight .code-content {
    background: #fbfbfb !important;
}
.editor.owlLight .code-content pre.line-numbers {
    background: #fbfbfb !important;
}
.editor.owlLight .editor-tab .theme {
    color: #403F53;
    border: 2px solid #F0F0F0;
}
.editor.owlLight .editor-tab .theme:hover {
    border: 2px solid #7B61FF;
}
.editor.owlLight .editor-tab .theme .themelist {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    
}
.editor.owlLight .editor-tab .theme .themelist a:hover {
    background: #F0F0F0;
}
.editor.owlLight .editor-tab .theme .arrow svg path {
    stroke: #403F53;
}
.editor.owlLight .editor-code {
    background: #fbfbfb;
}


/* mediaquery */
@media (max-width: 1400px){
    .container {width: 100%;}
    .row {padding: 0 3%;}
}

@media (max-width: 1300px){
    /* header */
    .header-title .desc {
        font-size: 1.3vw;
        line-height: 2vw;
    }
}

@media (max-width: 1040px){
    /* header */
    .header-title h1.main-tit {
        font-size: 67px;
        line-height: 67px;
        padding-top: 0px;
    }
    .header-title h1.main-tit em span:nth-child(1) {
        display: block;
    }
    .header-title .sub-tit {
        font-size: 36px;
        padding-top: 40px;
    }
    .header-title .desc {
        font-family: 'S-CoreDream-1Thin'; 
        font-size: 19px;
        line-height: 28px;
    }
    .header-title .desc br:nth-child(1) {
        display: block;
    }
    .header-title .desc br {
        display: none;
    }


  

}

@media (max-width: 800px){
    .header-title {
        width: 100%;
    }
    .header-title h1.main-tit {
        font-size: 9.938vw;
        line-height: 10.625vw;
        padding-top: 11.875vw;
    }
    .header-title h1.main-tit strong {
        -webkit-text-stroke: 0.5px #fff;
    }
    .header-title h1.main-tit strong span:nth-child(4){
        min-width: 2vw;
        height: 1px;
    }
    .header-title h1.main-tit strong span:nth-child(8){
        min-width: 2vw;
        height: 1px;
    }
    .header-title h1.main-tit strong span:nth-child(12) {
        display: block;
    }
    .header-title h1.main-tit em span:nth-child(1) {
        display: block;
    }
    .header-title .sub-tit {
        font-size: 16px;
    }
    .header-title .desc, .cursor, .cursorbg {
        display: none;
    }

    code[class*="language-"], pre[class*="language-"] {
        font-family: 'S-CoreDream-1Thin' !important;
    }

}
/* max-width: 409px */
@media (max-width: 500px) {
    /* header */
    .header {
        height: 700px;
        /* 모바일 스크롤 버벅 때문에 */
    }
    .header-title {
        width: 100%;
        text-align: center;
    }
    .header-title h1.main-tit {
        font-size: 9.938vw;
    }
}





/* animation */
@keyframes reveal_opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes revealLTR {
    0% {width: 0; top: 0; left: 0;}
    65% {width: 100%; top: 0; left: 0;}
    100% {width: 0; top: 0; left: 100%;}
}