/* layout */
html, body {
    background: #1b1b1b;
    /* overflow: visible !important; */
}
#contents {}
#header {
    /* 커서 히든하기 위해 포지션 필요 */
    position: relative; z-index: 10;
    overflow: hidden;
    height: 100vh;
    background: #1b1b1b;
}
#section1, 
#section2,
#section3,
#section4 {
    position: relative; z-index: 10;
    background: #1b1b1b;
    overflow: hidden;
    padding: 300px 0;
}
#section5 {
    position: relative; z-index: 2;
    height: 13000px;
    background: #1E88FF;
    transition: background-color 1s;
}
#section5.show1 {background: #FFEB3B; transition: all 1s;}
#section5.show2 {background: #7C4DFF; transition: all 1s;}
#section5.show3 {background: #00695C; transition: all 1s;}

#section6 {
    position: relative; z-index: 10;
    background: #1b1b1b;
    /* height: 10000px; */
    height: 6000px;
    overflow: hidden;
}
#section7 {
    position: relative; z-index: 10;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(../img/mainbg.jpg) no-repeat center center;
}

/* container */
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

/* cursor */
.cursor {
    position: absolute;
    width: 2000px; height: 2000px;
    user-select: none;
    pointer-events: none;
    background: url(../img/mainbg.jpg) no-repeat center center fixed; /* body에 있는거 그래도 사용하는데 꼭 background-attachment: fixed가 추가되어야 한다.*/
    background-size: cover; /* 이게 없으면 실제 이미지 크기만큼의 영역이 생겨버린다.*/
    opacity: 0;
   
}
.cursorbg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/mainbg.jpg) no-repeat center center; /* body에 있는거 그래도 사용하는데 꼭 background-attachment: fixed가 추가되어야 한다.*/
    background-size: cover; /* 이게 없으면 커서가 꿀렁거리는 느낌 생긴다.*/
}


/* info */
.info {
    position: fixed; bottom: 20px; right: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff; padding: 10px;
    font-size: 14px; font-weight: 300;
    z-index: 1000;
    font-style: normal;
}

/* split */
h1.main-tit .split span {
    display: inline-block;
    min-width: 1vw;
    opacity: 0;
}
.sub-tit.split span {
    display: inline-block;
    min-width: 0.08vw;
    opacity: 0;
}

/* header */
.header {
    height: 100vh;
    position: relative;
}
.header-title {
    width: 72.610vw;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ilisarniq-Black';
    color: #fff;
}
.header-title h1.main-tit {
    font-size: 6.5vw;
    line-height: 7vw;
    color: #fff;
    text-transform: uppercase;
}
.header-title h1.main-tit strong {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.header-title h1.main-tit strong span {
    transform: translateY(80px);
}
.header-title h1.main-tit em span {
    transform: translateY(80px);
}
.header-title .sub-tit,
#section7 .sub-tit {
    font-size: 2vw;
    font-family: 'Ilisarniq-Light';
    padding-bottom: 10vw;
}
.header-title .desc {
    font-family: 'S-CoreDream-3Light';
    font-size: 1vw;
    line-height: 1.6vw;
    transform: translateY(10px);
    opacity: 0;
}
.header-title .desc strong {
    font-family: 'S-CoreDream-6Bold';
}

/* section1 */
.site-wrap {
    position: relative;
}
.site-wrap .site-title {
    position: absolute; top: -9vw; left: 10vw;
    font-size: 9.986vw;
    font-family: 'Ilisarniq-Black';
    text-transform: uppercase;
    letter-spacing: 0.1vw;
}
.site-title.ftitle {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    z-index: 3;
}
.site-title.btitle {
    color: #fff;
    z-index: 1;
}
.site-title span {
    display: inline-block; 
    transform: translate(100px, 300px);
    opacity: 0;
}
.site-wrap .img-wrap {
    width: 67.917vw;
    height: 38.542vw;
    overflow: hidden;
    background: #73B6A9;
    position: relative;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.15, 0.65, 0.2, 1);
    transform-origin: left;
    transform: scaleX(0);
}
.site-wrap .img-wrap.reveal {
    transform: scaleX(1);
}
.site-wrap .img-wrap::before {
    content: '';
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background: #fff;
    z-index: 1;
    transition: all 0.5s 0.5s cubic-bezier(0.15, 0.65, 0.2, 1);
    transform-origin: right
}
.site-wrap .img-wrap.reveal::before {
    background: #05edbe;
    transform: scaleX(0);
}
.site-wrap .img-wrap .imgframe {
    background: url(../img/webstandard_silver_green.jpg) no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.site-wrap .site-num {
    position: absolute; top: 18vw; right: -6vw;
    writing-mode: vertical-lr;
    font-family: 'Ilisarniq-Black';
    text-transform: uppercase;
    font-size: 20.625vw;
    letter-spacing: 0.206vw;
    line-height: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #292929;
}
.site-desc-wrap {
    position: absolute; top: 36vw; left: 60%;
    transition: width 1s, top 0.1s;
    /* width: 33.854vw; height: 24.583vw; */
    /* width: 650px; height: 472px; */
    width: 33.86%; height: 472px;
    background: #fff;
    /* position: absolute; top: 69%; left: 60%; */
    /* padding: 85px 65px 90px; */
    padding: 4.427vw 3.385vw 4.688vw;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.site-desc-wrap h2 {
    font-family: 'Ilisarniq-Black';
    /* font-size: 2vw; */
    font-size: 39px;
    line-height: 1;
    text-transform: uppercase;
}
.site-desc-wrap p {
    font-family: 'S-CoreDream-4Regular';
    /* font-size: 0.781vw; */
    font-size: 15px;
    /* line-height: 1.563vw; */
    line-height: 30px;
    text-align: justify;
    /* margin-top: -12px; */
    margin-top: -0.625vw;
}
.btn-wrap {
    display: flex;
    /* width: 27.083vw; */
    /* width: 519px; */
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #000;
}
.btn-wrap a {
    font-family: 'Ilisarniq-Regular';
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 48px;
    /* font-size: 0.938vw; */
    font-size: 18px;
    text-transform: uppercase;
}
.btn-wrap a.leftBtn {
    color: #fff;
    transition: color 0.5s ease-in-out;
}
.btn-wrap a.leftBtn.movebg {
    color: #000;
}
.btn-wrap a.leftBtn::before {
    content: '';
    width: 100%; height: 100%;
    position: absolute; 
    top: 0; left: 0;
    z-index: -1;
    background: #000;
    transition: left 0.5s ease-in-out;
}
.btn-wrap a.leftBtn.movebg::before {
    left: 100%;
}
.btn-wrap a.rightBtn {
    color: #000;
    transition: color 0.5s ease-in-out;
}
.btn-wrap a.rightBtn.movebg {
    color: #fff;
}
.site-wrap .container {
    opacity: 0;
    padding-top: 300px;
}
.site-wrap .container.opacity1 {
    animation: opacity1 1s ease-in-out forwards;
}
.code-align-box {
    display: flex;
    flex-direction: row-reverse;
    transition: all 1s;
}
.circlebox {
    position: relative;
    width: 28%;
    height: 547px;
}
.allcircle-wrap {
    font-family: 'Ilisarniq-Regular';
    font-size: 16px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #12DA97;
    border-radius: 50%;
    transition: background .2s;
}
.allcircle-wrap:hover {
    color: #fff;
    background: #12DA97;
}
.allcircle-wrap.active2 {
    background: #12DA97;
}
.circle-wrap1 {
    position: absolute; top: 5%; left: 14%;
    width: 5.208vw; height: 5.208vw;
}
.circle-wrap1 .circle-txt1 {
    animation: circlemove 8s linear infinite;
}
.circle-wrap2 {
    position: absolute; top: 28%; left: 64%;
    width: 7.083vw; height: 7.083vw;
}
.circle-wrap2 .circle-txt2 {
    animation: circlemove 4s linear infinite;
}
.circle-wrap3 {
    position: absolute; top: 57%; left: 31%;
    width: 3.333vw; height: 3.333vw;
}
.circle-wrap3 .circle-txt3 {
    animation: circlemove 7s linear infinite;
}
.circle-wrap4 {
    position: absolute; top: 79%; left: 55%;
    width: 5.208vw; height: 5.208vw;
}
.circle-wrap4 .circle-txt4 {
    animation: circlemove 15s linear infinite;
}
.editorbox {
    position: relative;
    width: 72%;
    height: 547px;
}
.editor .editor-tab {
    /* height: 40px; */
    height: 38px;
    background: #21252B; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    display: flex;
    font-size: 16px;
    font-family: 'S-CoreDream-3Light';
}
.editor .editor-tab .dot {
    padding: 14px 55px 14px 14px;
}
.editor .editor-tab .dot span {
    display: block;
    background: #FFB83D;
    width: 12px; height: 12px; 
    border-radius: 50%;
    position: relative;
}
.editor .editor-tab .dot span::before {
    content: '';
    background: #FF4A4A; 
    width: 100%; height: 100%; 
    border-radius: 50%;
    position: absolute; left: 20px;
}
.editor .editor-tab .dot span::after {
    content: ''; 
    background: #00C543; 
    width: 100%; height: 100%; 
    border-radius: 50%;
    position: absolute; left: 40px;
}
.editor .editor-tab .menu {
    overflow: hidden;
}
.editor .editor-tab .menu li {
    float: left;
}
.editor .editor-tab .menu li a {
    display: inline-block;
    background: #21252B; 
    color: #8E9093; 
    padding: 7px 32px;
    box-sizing: border-box;
}
.editor .editor-tab .menu li a.active {
    background: #383E4A;  color: #fff;
}
.editor .editor-tab .menu li .code-content {
    /* position: absolute; top: 7.4%; left: 0; */
    position: absolute; top: 38px; left: 0;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
    width: 100%; height: 507px; 
    background: #282C34;
    overflow: hidden;
}
.site-wrap .container.opacity1 
.editor .editor-tab .menu li .code-content {
    overflow: auto;
}
.editor .editor-tab .theme {
    position: relative;
    cursor: pointer;
    color: #8E9093;
    margin-left: auto;
    padding: 6px 27px 8px 14px;
    border: 2px solid #21252B;
    border-top-right-radius: 5px;
    box-sizing: border-box;
}
.editor .editor-tab .theme:hover {
    border: 2px solid #7B61FF;
}
.editor .editor-tab .theme .current-theme {
    display: inline-block;
    text-align: center;
    /* width: 90px; */
    text-indent: 12px;
    width: 100px;
}
.editor .editor-tab .theme .arrow {
    position: absolute; top: 20%; right: 7%;
}
.editor .editor-tab .theme .arrow svg path {
    stroke:#8E9093;
}
.theme.rotate a.arrow svg {
    display: inline-block;
    transform: rotate(180deg);
}
.editor .editor-tab .theme .themelist {
    width: 100%;
    position: absolute; top: 38px; left: -2px;
    background: #485061;
    border: 2px solid #485061;
    display: none;
    overflow: hidden;
}
.editor .editor-tab .theme .themelist a {
    display: inline-block;
    padding: 5px 0 5px 13px;
    width: 97%;
    color: #8E9093;
}
.editor .editor-tab .theme .themelist a:hover {
    background: #21252B;
}
.editor .editor-tab .theme .themelist a .choice {
    display: inline-block;
    width: 12px;
}
.editor.owl .editor-tab {
    background: #01111D;
}
.editor.owl .editor-tab .menu li a {
    background: #01111D;
    color: #5F7E97;
}
.editor.owl .editor-tab .menu li a.active {
    background: #062743;  color: #CFDBE4;
}
.editor.owl .code-content {
    background: #011627 !important;
}
.editor.owl .code-content pre.line-numbers {
    background: #011627 !important;
}
.editor.owl .editor-tab .theme {
    color: #5F7E97;
    border: 2px solid #01111D;
}
.editor.owl .editor-tab .theme:hover {
    border: 2px solid #7B61FF;
}
.editor.owl .editor-tab .theme .themelist {
    background: #092E4B;
    border: 2px solid #092E4B;
}
.editor.owl .editor-tab .theme .themelist a:hover {
    background: #01111D;
}
.editor.owl .editor-tab .theme .arrow svg path {
    stroke: #5F7E97;
}
.editor.owl .editor-code {
    background: #011627;
}

.editor.owlLight .editor-tab {
    background: #F0F0F0;
}
.editor.owlLight .editor-tab .menu li a {
    background: #F0F0F0;
    color: #403F53;
}
.editor.owlLight .editor-tab .menu li a.active {
    background: #F8F8F8;  color: #403F53;
}
.editor.owlLight .code-content {
    background: #fbfbfb !important;
}
.editor.owlLight .code-content pre.line-numbers {
    background: #fbfbfb !important;
}
.editor.owlLight .editor-tab .theme {
    color: #403F53;
    border: 2px solid #F0F0F0;
}
.editor.owlLight .editor-tab .theme:hover {
    border: 2px solid #7B61FF;
}
.editor.owlLight .editor-tab .theme .themelist {
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    
}
.editor.owlLight .editor-tab .theme .themelist a:hover {
    background: #F0F0F0;
}
.editor.owlLight .editor-tab .theme .arrow svg path {
    stroke: #403F53;
}
.editor.owlLight .editor-code {
    background: #fbfbfb;
}





/* section2 */
#section2 .site-wrap .img-wrap {
    background: #AA7F77;
}
#section2 .site-wrap .img-wrap.reveal::before {
    background: #ed3801;
}
#section2 .site-wrap .img-wrap .imgframe {
    background: url(../img/responsive_red.jpg) center center no-repeat;
    background-size: cover;
}
#section2 .btn-wrap a.leftBtn2 {
    color: #fff;
    transition: color 0.5s ease-in-out;
}
#section2 .btn-wrap a.leftBtn2.movebg {
    color: #000;
}
#section2 .btn-wrap a.leftBtn2::before {
    content: '';
    width: 100%; height: 100%;
    position: absolute; 
    top: 0; left: 0;
    z-index: -1;
    background: #000;
    transition: left 0.5s ease-in-out;
}
#section2 .btn-wrap a.leftBtn2.movebg::before {
    left: 100%;
}
#section2 .btn-wrap a.rightBtn2 {
    color: #000;
    transition: color 0.5s ease-in-out;
}
#section2 .btn-wrap a.rightBtn2.movebg {
    color: #fff;
}
#section2 .allcircle-wrap {
    border-color: #7A2415;
}
#section2 .allcircle-wrap:hover {
    color: #fff;
    background: #7A2415;
}
#section2 .allcircle-wrap.active2 {
    background: #7A2415;
}
#section2 .circle-wrap1 {
    position: absolute; top: 8%; left: 17%;
    width: 7.1vw; height: 7.1vw;
}
#section2 .circle-wrap2 {
    position: absolute; top: 45%; left: 67%;
    width: 6.5vw; height: 6.5vw;
}
#section2 .circle-wrap3 {
    position: absolute; top: 73%; left: 30%;
    width: 7.4vw; height: 7.4vw;
}




/* section3 */
#section3 .site-wrap .img-wrap {
    background: #D8D0B1;
}
#section3 .site-wrap .img-wrap.reveal::before {
    background: #f4c302;
}
#section3 .site-wrap .img-wrap .imgframe {
    background: url(../img/nongshim_yellow.jpg) center center no-repeat;
    background-size: cover;
}
#section3 .btn-wrap a.leftBtn3 {
    color: #fff;
    transition: color 0.5s ease-in-out;
}
#section3 .btn-wrap a.leftBtn3.movebg {
    color: #000;
}
#section3 .btn-wrap a.leftBtn3::before {
    content: '';
    width: 100%; height: 100%;
    position: absolute; 
    top: 0; left: 0;
    z-index: -1;
    background: #000;
    transition: left 0.5s ease-in-out;
}
#section3 .btn-wrap a.leftBtn3.movebg::before {
    left: 100%;
}
#section3 .btn-wrap a.rightBtn3 {
    color: #000;
    transition: color 0.5s ease-in-out;
}
#section3 .btn-wrap a.rightBtn3.movebg {
    color: #fff;
}
#section3 .allcircle-wrap {
    border-color: #72652E;
}
#section3 .allcircle-wrap:hover {
    color: #fff;
    background: #72652E;
}
#section3 .allcircle-wrap.active2 {
    background: #72652E;
}
#section3 .circle-wrap1 {
    position: absolute; top: 6%; left: 17%;
    width: 5.469vw; height: 5.469vw;
}
#section3 .circle-wrap2 {
    position: absolute; top: 25%; left: 64%;
    width: 7.083vw; height: 7.083vw;
}
#section3 .circle-wrap3 {
    position: absolute; top: 68%; left: 42%;
    width: 9.167vw; height: 9.167vw;
}





/* section4 */
#section4 .site-wrap .img-wrap {
    background: #739BD5;
}
#section4 .site-wrap .img-wrap.reveal::before {
    background: #02d4f9;
}
#section4 .site-wrap .img-wrap .imgframe {
    background: url(../img/ptdime_blue.jpg) center center no-repeat;
    background-size: cover;
}
#section4 .btn-wrap a.leftBtn4 {
    color: #fff;
    transition: color 0.5s ease-in-out;
}
#section4 .btn-wrap a.leftBtn4.movebg {
    color: #000;
}
#section4 .btn-wrap a.leftBtn4::before {
    content: '';
    width: 100%; height: 100%;
    position: absolute; 
    top: 0; left: 0;
    z-index: -1;
    background: #000;
    transition: left 0.5s ease-in-out;
}
#section4 .btn-wrap a.leftBtn4.movebg::before {
    left: 100%;
}
#section4 .btn-wrap a.rightBtn4 {
    color: #000;
    transition: color 0.5s ease-in-out;
}
#section4 .btn-wrap a.rightBtn4.movebg {
    color: #fff;
}
#section4 .allcircle-wrap {
    border-color: #0D5CD1;
}
#section4 .allcircle-wrap:hover {
    color: #fff;
    background: #0D5CD1;
}
#section4 .allcircle-wrap.active2 {
    background: #0D5CD1;
}
#section4 .circle-wrap1 {
    position: absolute; top: 6%; left: 17%;
    width: 7.4vw; height: 7.4vw;
}
#section4 .circle-wrap2 {
    position: absolute; top: 49%; left: 82%;
    width: 2.9vw; height: 2.9vw;
}
#section4 .circle-wrap3 {
    position: absolute; top: 76%; left: 42%;
    width: 6.3vw; height: 6.3vw;
}





/* section5 */
.ani-wrap {
    position: fixed; top: 0; left: 0;
    width: 100%;
    height: 100vh;
}
.ani-wrap .bg-title {
    display: flex;
}
.bg-title .anitxt {
    display: block;
    font-size: 150px;
    font-family: 'Ilisarniq-Black';
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
    text-transform: uppercase;
    white-space: nowrap;
    will-change: transform;
    transform: translateX(0);
}
.bg-title:nth-child(odd) .anitxt {
    animation: ani-title-RTL 10s linear infinite;
}
.bg-title:nth-child(even) .anitxt {
    animation: ani-title-LTR 10s linear infinite;
}
.ani-content {
    /* position: absolute; top: 145px; left: 100vw; */
    position: absolute; top: 16%; left: 100%;
    /* width: 8013px; */
    /* width: 417.344vw; */
    /* width: 9932px; */
    width: 517.292vw;
    display: flex;
    justify-content: space-evenly;
}
.ani-content > div {
    /* width: 1242px; */
    width: 64.688vw;
    /* height: 648px; */
    height: 70vh;
    /* margin-right: 1005px; */
    margin-right: 52.344vw;
    overflow: hidden;
}
.ani-content > div:nth-child(1) {width: 0;height: 0;}
.ani-content > div:nth-child(2) {background: #FB8C00;}
.ani-content > div:nth-child(3) {background: #3F51B5;}
.ani-content > div:nth-child(4) {background: #B2FF59;}
.ani-content > div:nth-child(5) { background: #FCDCDF;margin-right: 0;}
.boxAll {
    position: relative;
}
.rectbox1 {
    position: relative;
    top: -200px; 
    /* left: 600px; */
    left: 31.250vw;
    background: rgba(0,0,0,0.2);
    /* width: 480px;  */
    width: 25vw; 
    height: 511px;
    transform: rotate(-33.93deg);
}
.rectbox2 {
    position: relative;
    top: -200px; 
    /* left: 160px; */
    left: 8.333vw;
    background: rgba(0,0,0,0.2);
    /* width: 480px;  */
    width: 25vw; 
    height: 511px;
    transform: rotate(33.93deg);
}
.tribox1 {
    position: relative;
    top: -30px; 
    /* left: -200px; */
    left: -10.417vw;
    width: 0;
    height: 0;
    border-left: 15.625vw solid transparent;
    border-right: 15.625vw solid transparent;
    border-top: 28.125vw solid rgba(0,0,0,0.2);
    transform: rotate(105deg);
}
.tribox2 {
    position: relative;
    top: 80px; 
    /* left: 750px; */
    left: 39.063vw;
    z-index: 1000;
    width: 0;
    height: 0;
    border-left: 15.625vw solid transparent;
    border-right: 15.625vw solid transparent;
    border-top: 28.125vw solid rgba(0,0,0,0.2);
    transform: rotate(15deg);
}
.code-btn {
    position: absolute; left: 46px; bottom: 48px;
    /* font-size: 20px; */
    font-size: 1.042vw;
    text-align: center;
    font-family: 'Ilisarniq-Light';
    display: inline-block;
    /* width: 72px; height: 72px; */
    width: 3.750vw; height: 3.750vw;
    /* line-height: 71px; */
    line-height: 3.698vw;
    border-radius: 50%;
    background: #000;
    color: #fff;
    text-transform: uppercase;
}
.right-code-btn {
    position: absolute; right: 46px; bottom: 48px;
    z-index: 1000;
    /* font-size: 20px; */
    font-size: 1.042vw;
    text-align: center;
    font-family: 'Ilisarniq-Light';
    display: inline-block;
    /* width: 72px; height: 72px; */
    width: 3.750vw; height: 3.750vw;
    /* line-height: 71px; */
    line-height: 3.698vw;
    border-radius: 50%;
    background: #000;
    color: #fff;
    text-transform: uppercase;
}
.code-btn:hover, .right-code-btn:hover {
    color: #fff;
}
.ani-title {
    /* position: absolute; right: 47px; bottom: 27px; */
    position: absolute; right: 2.448vw; bottom: 27px;
    /* font-size: 80px; */
    font-size: 4.167vw;
    font-family: 'Ilisarniq-Light';
    text-transform: uppercase;
    z-index: 500;
}
.ani-title p {
    font-family: 'Ilisarniq-Black';
    /* line-height: 50px; */
    line-height: 2.604vw;
}
.box3 .ani-title p {
    text-align: right;
}
.ani-title.left-ani-title {
    left: 2.448vw; bottom: 27px;
    z-index: 500;
}
.box1 .morphing {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 300px; height: 300px;
    background-color: #bca5e3;
    border-radius: 70% 80% 90% 70% / 70% 80% 90% 80%;
    box-shadow:
        inset 10px 0 40px #a174db,
        inset -10px 0 20px #40245e,
        inset -40px 10px 110px #1b1648;
    animation: morphingmove 3s infinite alternate ease-in-out;
}
.square {
    width: 49px; height: 49px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.square::before {
    content: '';
    width: 49px; height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute; top: 58px; left: 0;
    border-radius: 50%;
    animation: shadow 0.58s linear infinite;
}
.square::after {
    content: '';
    width: 49px; height: 49px;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    position: absolute; left: 0; top: 0;
    border-radius: 3px;
    animation: squaremove 0.58s linear infinite;
}
.wave-wrap {
    position: absolute; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.wave-box {
    display: flex;
}
.wavecircle {
    width: 10px; height: 10px; background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    border-radius: 50%;
    margin: 5px 10px;
    transform-origin: top center;
    animation: spin 1s linear infinite;
}
.wave-box:nth-child(1) .wavecircle {animation-delay: 100ms;}
.wave-box:nth-child(2) .wavecircle {animation-delay: 200ms;}
.wave-box:nth-child(3) .wavecircle {animation-delay: 300ms;}
.wave-box:nth-child(4) .wavecircle {animation-delay: 400ms;}
.wave-box:nth-child(5) .wavecircle {animation-delay: 500ms;}
.wave-box:nth-child(6) .wavecircle {animation-delay: 600ms;}
.wave-box:nth-child(7) .wavecircle {animation-delay: 700ms;}
.wave-box:nth-child(8) .wavecircle {animation-delay: 800ms;}
.wave-box:nth-child(9) .wavecircle {animation-delay: 900ms;}

.cube-box {
    width: 150px; height: 150px;
    position: relative;
    transform: rotatex(60deg) rotate(-140deg) ;
    transform-style: preserve-3d;
    animation: rol 8s linear infinite;
}
.cube-box > cube {
    width: 150px; height: 150px;
    position: absolute; left: 0; top: 0;
    background: #f44336;
}
.cube-box > cube:nth-child(1) {
    transform: rotatex(90deg) translatey(-150px);
    transform-origin: center top;
    animation: top 4s 8s ease-in-out infinite;
}
.cube-box > cube:nth-child(2) {
    transform: rotatex(-90deg) translatey(150px);
    transform-origin: center bottom;
    animation: bottom 4s 8s ease-in-out infinite;
}
.cube-box > cube:nth-child(3) {
    transform: rotatey(-90deg) translatex(-150px);
    transform-origin: left center;
    animation: left 4s 8s ease-in-out infinite;
}
.cube-box > cube:nth-child(4) {
    transform: rotatey(90deg) translatex(150px);
    transform-origin: right center;
    animation: right 4s 8s ease-in-out infinite;
}
.cube-box > cube:nth-child(5) {
    transform: rotatex(0) translatex(0);
    transform-origin: center center;
    animation: front 4s 8s ease-in-out infinite;
}
.cube-box > cube:nth-child(6) {
    transform: rotatey(180deg) translatez(150px);
    transform-origin: center center;
    animation: back 4s 8s ease-in-out infinite;
}
.step {
    background-image: url(https://tistory2.daumcdn.net/tistory/3795900/skin/images/steps.jpg);
    width: 800px; height: 600px;
    position: absolute; left: 50%; top: 50%;
    margin-left: -400px; margin-top: -300px;
    animation: ani 1s steps(16, start) infinite;
}
  


 

/* section6 */
.script-txt-wrap {
    position: absolute; top: 45%; left: 10%;
    font-family: 'Ilisarniq-Black';
    width: 67.146vw;
    z-index: 100;
}
.script-title {
    color: #fff;
    text-transform: uppercase;
    /* line-height: 1; */
    /* text-indent: -15px; */
}
.script-what {
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0px 10px 13px;
    box-sizing: border-box;
}
.script-desc {
    font-family: 'S-CoreDream-3Light';
    width: 34.906vw;
    color: #fff;
    letter-spacing: 0.5px;
    padding-left: 12px;
    box-sizing: border-box;
}
.script-title span {
    font-size: 10.417vw;
    line-height: 7.7vw;
}
.script-what span {
    font-size: 1.875vw;
    line-height: 1.7vw;
}
.script-desc span {
    font-size: 0.938vw;
}
.script-title span,
.script-what span,
.script-desc span {
    position: relative;
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.15, 0.65, 0.2, 1);
    transform-origin: left;
    transform: scaleX(0);
}
.script-what span {
    transition-delay: 0.5s;
}
.script-desc span {
    transition-delay: 1s;
}
.script-txt-wrap.reveal .script-title span,
.script-txt-wrap.reveal .script-what span,
.script-txt-wrap.reveal .script-desc span {
    transform: scaleX(1);
}
.script-title span::before {
    position: absolute; top: 1vw; left: 0;
}
.script-what span::before {
    position: absolute; top: 0.15vw; left: 0;
}
.script-desc span::before {
    position: absolute; top: 0vw; left: 0;
}
.script-title span::before,
.script-what span::before,
.script-desc span::before {
    content: '';
    width: 100%; height: 100%;
    background: rgba(255,255,255,1);
    transition: all 0.5s 0.5s cubic-bezier(0.15, 0.65, 0.2, 1);
    transform-origin: right;
}
.script-what span::before {
    transition-delay: 1s;
}
.script-desc span::before {
    transition-delay: 1.5s;
}
.script-txt-wrap.reveal .script-title span::before {
    background: #ed3801;
}
.script-txt-wrap.reveal .script-what span::before {
    background: #f4c302;
}
.script-txt-wrap.reveal .script-desc span::before {
    background: #02d4f9;
}
.script-txt-wrap.reveal .script-title span::before,
.script-txt-wrap.reveal .script-what span::before,
.script-txt-wrap.reveal .script-desc span::before {
    transform: scaleX(0);
}
.script-top {
    position: relative;
    /* height: 100vh; */
    height: 110vh;
    /* margin-top: 200vh; */
    margin-top: 70vh;
    perspective: 2000px;
    /* perspective-origin: 50% 50%; */
    z-index: 100;
}
.scriptimg-wrap {
    /*left: 638px; */
    position: absolute; left: 33.229vw;
    /* width: 1208px; height: 727px; */
    width: 62.917vw; height: 727px;
    /* padding: 16.5px 17px; */
    padding: 0.859vw 0.885vw;
    background: #1b1b1b;
    box-sizing: border-box;
    border: 1px solid #424242;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.75s cubic-bezier(0.15, 0.65, 0.2, 1);
    overflow: hidden;
}
.scriptimg-wrap.rotate {
    transform: 
        /* translate3d(-20%, 70%, -2000px) */
        translate3d(-20%, 20%, -2000px)
        rotate3d(-1,-1.5,.4,-40deg);
}
.img-box {
    /* width: 1174px; height: 694px; */
    width: 61.146vw; height: 694px; 
}
.img-box img {
    width: 100%; height: 100%;
}
.scriptimg-wrap:before, .scriptimg-wrap:after {
    content: '';
    position: absolute; top: 50%;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.scriptimg-wrap:before {
    left: -20px;
    transform: translate(-50%, -50%);
}
.scriptimg-wrap:after {
    right: -20px;
    transform: translate(50%, -50%);
}
.scriptimg-wrap:hover {
     color: #e0d9dd;
}
.scriptimg-wrap:hover:before {
    animation: cross-left 0.8s forwards;
}
.scriptimg-wrap:hover:after {
    animation: cross-right 0.8s forwards;
}
.scriptimg-wrap span {
    position: relative;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    transition: color 0.5s ease-in-out;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ilisarniq-Black';
    z-index: 1;
}
.scriptimg-wrap span::before {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #000;
    z-index: -1;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}
.scriptimg-wrap:hover span::before {
    width: 0; height: 0;
}
.scriptimg-wrap:hover span {
    color: #000;
    animation-play-state: paused;
}
.click-wrap {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    visibility: hidden;
    z-index: 101;
    position: fixed;
    top: 100%; left: 50%;
    transform: translateX(-50%);
    transition: all 1s cubic-bezier(0.15, 0.65, 0.2, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.click-wrap.rotate {
    visibility: visible;
    top: 0;
}
.close {
    font-family: 'Ilisarniq-Black';
    font-size: 2vw;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    text-align: right;
    padding-right: 5vw;
    
}
.click-cont {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.scriptview-wrap {
    /* width: 1208px; height: 727px; */
    width: 62.917vw; height: 727px;
    /* padding: 16.5px 17px; */
    padding: 0.859vw 0.885vw;
    background: #1b1b1b;
    box-sizing: border-box;
    border: 1px solid #424242;
    border-radius: 15px;
    z-index: 100;
}
.view-box {
    /* width: 1174px; height: 694px; */
    width: 61.146vw; height: 694px;
}
.view-box iframe {
    width: 100%; height: 100%;
}
.script-btn a {
    display: block;
    font-family: 'Ilisarniq-Regular';
    /* font-size: 14px;
    width: 60px; height: 60px; */
    font-size: 0.729vw;
    width: 3.125vw; height: 3.125vw;
    text-align: center;
    line-height: 3.125vw;
    border-radius: 50%;
    border: 1px solid #424242;
    color: #fff;
    transition: background .2s;
    margin: 1vw 0;
}
.script-btn a.btnactive {
    background: #424242;
}
.script-btn a:hover {
    background: #424242;
}
.script-btn a:nth-child(odd) {
    animation: updown1 5s linear infinite;
}
.script-btn a:nth-child(even) {
    animation: updown2 5s linear infinite;
}





/* section7 */
#section7:before, #section7:after,
#section7 > span:before,
#section7 > span:after {
    content: '';
    position: absolute;
    top: 0;
    width: 25%;
    height: 0;
    background-color: #1b1b1b;
    transition: 1s ease-in-out;
    z-index: -1;
}
#section7:before {
    left: 0;
}
#section7:after {
    left: 50%;
}
#section7 > span:before, #section7 > span:after {
    top: auto;
    bottom: 0;
}
#section7 > span:before {
    left: 25%;
}
#section7 > span:after {
    left: 75%;
}
#section7:hover {
    color: #d8c1bf;
}
#section7.change:before, #section7.change:after,
#section7.change > span:before,
#section7.change > span:after {
    height: 100%;
}
#section7 .contact-wrap .contact-title .sub-tit {
    padding-left: 7px;
}
.contact-wrap {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 72.610vw;
    color: #fff;
}
.contact-title h2 {
    font-family: 'Ilisarniq-Black';
    font-size: 6.5vw;
    line-height: 7vw;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.contact-title h2:first-child {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}
.send-btn {
    position: absolute; right: 3vw; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.604vw; height: 7.604vw;
    border-radius: 50%;
    border: 2px solid #AA5018; 
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    letter-spacing: 5.8px;
    text-indent: 5px;
    white-space: nowrap;
    transition: background .2s;
    animation: circlemove 5s linear infinite;
}
.send-btn:hover {
    color: #fff;
    background: #AA5018;
}
.send-btn:focus {
    outline: none;
}
.send-btn.active3 {
    background: #AA5018;
}
.send-wrap {
    position: fixed; top: 200%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    z-index: 1000;
    padding: 4vw;
    box-sizing: border-box;
    transition: all 2s;
}
.send-wrap.send {
    visibility: visible;
    top: 50%;
    transition: all 1s;
}
.send-wrap label {
    display: block;
    font-family: 'Ilisarniq-Black';
    font-size: 1vw;
    line-height: 1.7vw;
    margin-bottom: 1vw;
    color: #fff;
}
.send-wrap input {
    display: block;
    width: 30vw;
    font-size: 1vw;
    padding: 0.5vw;
    margin-top: 0.3vw;
}
.send-wrap textarea {
    display: block;
    width: 100%;
    height: 15vh;
    font-size: 1vw;
    padding: 1vw;
    margin-top: 0.3vw;
    box-sizing: border-box;
}
.send-wrap form > input {
    width: 15vw;
    float: right;
    margin-top: 1vw;
    background: #AA5018;
    color:#fff;
    font-family: 'Ilisarniq-Black';
    border: 0;
    cursor: pointer;
}
.send-wrap .send-close {
    display: block;
    font-family: 'Ilisarniq-Black';
    font-size: 1vw;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    position: absolute; top: 0.6vw; right: 1vw;
}





/* mediaquery */
@media (max-width: 1400px){
    .container {width: 100%;}
    .row {padding: 0 3%;}
}

@media (max-width: 1300px){
    /* header */
    .header-title .desc {
        font-size: 1.3vw;
        line-height: 2vw;
    }

    /* section1 - 4 */
    .site-wrap .img-wrap {
        width: 73.917vw;
        height: 41.542vw;
    }
    .site-wrap .site-num {
        font-size: 22.625vw;
    }
    .site-desc-wrap {
        left: 58%;
        height: 430px;
        padding: 3.427vw 3.385vw 3.688vw;
    }
}

@media (max-width: 1125px){
    /* section1 - 4 */
    .site-desc-wrap {
        width: 35.86%;
        height: 380px;
    }
    .site-desc-wrap h2 {
        font-size: 37px;
    }
    .site-desc-wrap p {
        font-size: 14px;
        line-height: 25px;
    }
    .btn-wrap a {
        font-size: 17px;
    }
    .circlebox {
        width: 24%;
        margin: 0 2%;
    }
    
}

@media (max-width: 1040px){
    /* header */
    .header-title h1.main-tit {
        font-size: 67px;
        line-height: 67px;
        padding-top: 0px;
    }
    .header-title h1.main-tit em span:nth-child(1) {
        display: block;
    }
    .header-title .sub-tit {
        font-size: 36px;
        padding-top: 40px;
    }
    .header-title .desc {
        font-family: 'S-CoreDream-1Thin'; 
        font-size: 19px;
        line-height: 28px;
    }
    .header-title .desc br:nth-child(1) {
        display: block;
    }
    .header-title .desc br {
        display: none;
    }
}

@media (max-width: 1010px){
    .header-title {
        width: 78.4vw;
    }
    .header-title h1.main-tit {
        font-size: 6.634vw;
        line-height: 6.634vw;
    }

    /* section1 - 4 */
    .site-desc-wrap h2 {
        font-size: 3.5vw;
    }
    .btn-wrap a {
        height: 4vw;
        font-size: 1.6vw;
    }
    .allcircle-wrap {
        font-size: 14px;
    }
}

@media (max-width: 800px){
    .header-title {
        width: 100%;
    }
    .header-title h1.main-tit {
        font-size: 9.938vw;
        line-height: 10.625vw;
        padding-top: 11.875vw;
    }
    .header-title h1.main-tit strong {
        -webkit-text-stroke: 0.5px #fff;
    }
    .header-title h1.main-tit strong span:nth-child(4){
        min-width: 2vw;
        height: 1px;
    }
    .header-title h1.main-tit strong span:nth-child(8){
        min-width: 2vw;
        height: 1px;
    }
    .header-title h1.main-tit strong span:nth-child(12) {
        display: block;
    }
    .header-title h1.main-tit em span:nth-child(1) {
        display: block;
    }
    .header-title .sub-tit {
        font-size: 16px;
    }
    .header-title .desc, .cursor, .cursorbg {
        display: none;
    }

    code[class*="language-"], pre[class*="language-"] {
        font-family: 'S-CoreDream-1Thin' !important;
    }

    /* section1 - 4 */
    .site-wrap .img-wrap {
        width: 94%;
        height: 50vw;
        margin: 0 3%;
    }
    .site-wrap .site-num {
        top: -18vw;
        right: 0px;
        writing-mode: horizontal-tb;
        transform: translate(0,0) !important;
    }
    .site-desc-wrap {
        width: 94%;
        margin: 0 3%;
        position: unset;
        transform: translate(0,0) !important;
        opacity: 0;
    }
    .site-desc-wrap.opacity1 {
        animation: opacity1 1s ease-in-out forwards;
    }
    .site-desc-wrap h2 {
        font-size: 42px;
        text-align: center;
    }
    .site-desc-wrap p {
        font-size: 20px;
        line-height: 34px;
    }
    .btn-wrap a {
        font-size: 22px;
        height: 48px;
    }
    .btn-wrap a.leftBtn span,
    #section2 .btn-wrap a.leftBtn2 span,
    #section3 .btn-wrap a.leftBtn3 span,
    #section4 .btn-wrap a.leftBtn4 span {
        position: relative;
        z-index: 1;
    }
    .btn-wrap a.leftBtn::before,
    #section2 .btn-wrap a.leftBtn2::before,
    #section3 .btn-wrap a.leftBtn3::before,
    #section4 .btn-wrap a.leftBtn4::before {
        z-index: 0;
    }
    .site-wrap .container {
        padding-top: 0px;
    }
    .code-align-box {
        display: block;
    }
    .circlebox {
        width: 96%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .allcircle-wrap,
    #section2 .allcircle-wrap, 
    #section3 .allcircle-wrap, 
    #section4 .allcircle-wrap {
        position: unset;
    }
    .circle-wrap1,
    .circle-wrap2, 
    .circle-wrap3, 
    .circle-wrap4,
    #section2 .circle-wrap1,
    #section2 .circle-wrap2,
    #section2 .circle-wrap3,
    #section3 .circle-wrap1,
    #section3 .circle-wrap2,
    #section3 .circle-wrap3,
    #section4 .circle-wrap1,
    #section4 .circle-wrap2,
    #section4 .circle-wrap3 {
        width: 13vw; height: 13vw;
    }
    .editorbox {
        width: 100%;
    }

    /* section5 */
    .code-btn {
        left: 25px;
        bottom: 35px;
        font-size: 14px;
        width: 5.75vw;
        height: 5.75vw;
        line-height: 5.6vw; 
    }
    .right-code-btn {
        right: 25px;
        bottom: 35px;
        font-size: 14px;
        width: 5.75vw;
        height: 5.75vw;
        line-height: 5.6vw;
    }
    .ani-title {
        font-size: 6.167vw;
    }
}

/* max-width: 409px */
@media (max-width: 500px) {
    /* header */
    .header {
        height: 700px;
        /* 모바일 스크롤 버벅 때문에 */
    }
    .header-title {
        width: 100%;
        text-align: center;
    }
    .header-title h1.main-tit {
        font-size: 9.938vw;
    }

    /* section1 - 4 */
    .site-desc-wrap h2 {
        font-size: 34px;
    }
    .site-title.ftitle {
        -webkit-text-stroke: 1px #fff;
    }
    .site-desc-wrap {
        height: 340px;
        padding: 7.427vw 4.385vw 8.688vw;
    }
    .site-desc-wrap p {
        font-size: 14px;
        line-height: 27px;
    }
    #section3 .site-desc-wrap p.desc-desc br, 
    #section4 .site-desc-wrap p.desc-desc br {
        display: none;
    } 
    .site-wrap .img-wrap {
        height: 60vw;
    }
    .site-wrap .site-num {
        font-size: 25.625vw;
        top: -21vw;
    }
    .btn-wrap a {
        font-size: 18px;
        height: 41px;
    }
    .circlebox {
        justify-content: space-around;
        padding: 46px 0;
        box-sizing: border-box;
    }
    .circle-wrap1,
    .circle-wrap3,
    #section2 .circle-wrap1,
    #section2 .circle-wrap3,
    #section3 .circle-wrap1,
    #section3 .circle-wrap3,
    #section4 .circle-wrap1,
    #section4 .circle-wrap3 {
        align-self: flex-start;
    }
    .circle-wrap2,
    .circle-wrap4,
    #section2 .circle-wrap2,
    #section3 .circle-wrap2,
    #section4 .circle-wrap2 {
        align-self: flex-end;
    }
    .allcircle-wrap {
        font-size: 10px;
    }
    .editor .editor-tab {
        font-size: 12px;
    }
    .editor .editor-tab .dot {
        padding: 15px 38px 10px 9px;
    }
    .editor .editor-tab .dot span {
        width: 8px;
        height: 8px;
    }
    .editor .editor-tab .dot span::before {
        left: 15px;
    }
    .editor .editor-tab .dot span::after {
        left: 30px;
    }
    .editor .editor-tab .menu li a {
        padding: 10px 11px;
    }
    .editor .editor-tab .menu li .code-content {
        height: 365px;
    }
    .editor .editor-tab .theme {
        padding: 8px 27px 8px 0px;
    }
    .editor .editor-tab .theme .current-theme {
        width: 73px;
    }
    .editor .editor-tab .theme .arrow {
        top: 28%;
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size: 12px !important;
        font-family: 'S-CoreDream-4Regular' !important;
    }

    /* section5 */
    #section5 {
        height: 4000px;
    }
    .bg-title .anitxt {
        font-size: 126px;
    }
    .ani-content {
        top: 15%;
        width: 550.292vw;
    }
    .ani-content > div {
        width: 100%;
    }
    .code-btn {
        left: 12px;
        bottom: 34px;
        font-size: 12px;
        width: 8.75vw;
        height: 8.75vw;
        line-height: 8.6vw;  
    }
    .right-code-btn {
        right: 12px;
        bottom: 34px;
        font-size: 12px;
        width: 8.75vw;
        height: 8.75vw;
        line-height: 8.6vw;
    }
    .ani-title {
        font-size: 7.167vw;
    }
    .box1 .morphing {
        width: 200px;
        height: 200px;
    }
    .rectbox1,
    .rectbox2,
    .tribox1,
    .tribox2 {
        display: none;
    }
    .square {
        width: 59px;
        height: 59px;
    }
    .square::before {
        width: 59px;
        height: 5px;
        top: 69px;
    }
    .square::after {
        width: 59px;
        height: 59px;
    }
}





/* animation */
@keyframes circlemove {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes opacity1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes ani-title-RTL {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes ani-title-LTR {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes morphingmove {
    0% {border-radius: 70% 80% 90% 70% / 70% 80% 90% 80%; transform: translate(-50%, -50%) rotate(0deg);}
    14% {border-radius: 50% 80% 90% 70% / 60% 80% 90% 80%;}
    28% {border-radius: 90% 70% 60% 90% / 60% 70% 90% 80%;}
    42% {border-radius: 50% 70% 50% 70% / 60% 80% 60% 80%;}
    56% {border-radius: 70% 60% 60% 70% / 70% 80% 70% 80%; transform: translate(-50%, -50%) rotate(80deg);}
    78% {border-radius: 90% 40% 60% 70% / 60% 80% 70% 50%;}
    84% {border-radius: 80% 80% 70% 70% / 60% 80% 60% 80%;}
    100% {border-radius: 80% 80% 90% 70% / 60% 50% 80% 80%; transform: translate(-50%, -50%) rotate(0deg);}
}
@keyframes shadow {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.2,1);}
    100% {transform: scale(1,1);}
}
@keyframes squaremove {
    17% {border-bottom-right-radius: 3px;}
    25% {transform: translatey(9px) rotate(22.5deg);}
    50% {
        transform: translatey(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 39px;
    }
    75% {transform: translatey(9px) rotate(67.5deg);}
    100% {transform: translatey(0) rotate(90deg);}
}
@keyframes spin {
    0% {transform: scale(1.1) rotate(0);}
    50% {transform: scale(0.2) rotate(180deg);}
    100% {transform: scale(1.1) rotate(360deg);}
}
@keyframes ani {
    0% {background-position: 0 0}
    100% {background-position: -12800px 0}
}
@keyframes updown1 {
    0%{transform: rotate(0);}
    100%{transform: rotate(-360deg);}
}
@keyframes updown2 {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@keyframes clip {
    0% {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
    50% {clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 0% 100%);}
    100% {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
}
@keyframes cross-left {
    0% {left: -20px;}
    50% {left: 50%; width: 20px; height: 20px;}
    100% {left: 50%; width: 300px; height: 300px;}
}
@keyframes cross-right {
    0% {right: -20px;}
    50% {right: 50%; width: 20px; height: 20px;}
    100% {right: 50%; width: 300px; height: 300px;}
}