@font-face {
  font-family: '5cf80bc400c7e7ea480c8c93_Ilisarniq-Light';
  src: url('5cf80bc400c7e7ea480c8c93_Ilisarniq-Light.eot');
  src: url('5cf80bc400c7e7ea480c8c93_Ilisarniq-Light.eot?#iefix') format('embedded-opentype'),
       url('5cf80bc400c7e7ea480c8c93_Ilisarniq-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq-Light';
  src: url('Ilisarniq-Light.svg#Ilisarniq-Light') format('svg'),
       url('Ilisarniq-Light.ttf') format('truetype'),
       url('Ilisarniq-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

