/* container */
.container {
    max-width: 1000px; margin: 0 auto;
    background: #009AFA;
}

/* row */
.row {
    position: relative; margin: 20px 20px 0 20px;
    background: tomato;
}

/* header */
.headerbar {
    position: relative;
    display: flex;
}

.headerbar .barcode {
    position: absolute; top: 0; left: 24.5%;
    /* position: absolute; top: 0; left: 237px; */
}

.headerbar .point {
    position: absolute; top: 0; left: 33%;
    /* position: absolute; top: 0; left: 315px; */
}
.headerbar .point p {
}

.headerbar .bell {
}



.headerbar .hamburger {
    margin-top: 8px;
    position: relative;
    width: 17px;
    height: 2px;
    background: #000;
    border-radius: 20px;
}
.headerbar .hamburger::before {
    position: absolute; top: 7px; left: 0;
    content: '';
    width: 17px;
    height: 2px;
    background: #000;
    border-radius: 20px;
}
.headerbar .hamburger::after {
    position: absolute; top: -7px; left: 0;
    content: '';
    width: 17px;
    height: 2px;
    background: #000;
    border-radius: 20px;
}

/* banner */


/* advertise */
#advertise {
    background: #009AFA;
}

.ad-box {
    padding-top: 42px;
}

.ad-title {}
.ad-title h2 {
    font-size: 25px;
    color: #fff;
    letter-spacing: -0.045em;
}
.ad-title p {
    margin:8px 0px 25px;
    font-size: 14px;
    letter-spacing: -0.085em;
    color: #fff;
}

.ad-img {}
.ad-img img {
    width: 100%;
}
.link-img {}
.link-img .lotteon {
    position: absolute; top: 4%; left: 92%;
    /* position: absolute; top: 10px; left: 925px; */
    display: block;
    width: 45px; height: 45px; 
     
}
.link-img .lotteon img {
    width: 100%;
}
.link-img .plus {
    position: absolute; top: 17%; left: 92%;
    /* position: absolute; top: 70px; left: 925px; */
    display: block;
    width: 45px; height: 45px;
}
.link-img .plus img {
    width: 100%;
}