@font-face {
  font-family: '5cf80bc40491203ece5d8710_Ilisarniq-Regular';
  src: url('5cf80bc40491203ece5d8710_Ilisarniq-Regular.eot');
  src: url('5cf80bc40491203ece5d8710_Ilisarniq-Regular.eot?#iefix') format('embedded-opentype'),
       url('5cf80bc40491203ece5d8710_Ilisarniq-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ilisarniq-Regular';
  src: url('Ilisarniq-Regular.svg#Ilisarniq-Regular') format('svg'),
       url('Ilisarniq-Regular.ttf') format('truetype'),
       url('Ilisarniq-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

